In [1]:
import pickle
import pandas as pd
import os
import torch
import numpy as np
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
from tqdm import tqdm
import torch.optim as optim
from torch.utils.data import TensorDataset, DataLoader
import wandb
from torch.utils.data.sampler import SubsetRandomSampler
import pprint
import matplotlib.pyplot as plt
import torch
import xml.etree.ElementTree as ET
import pandas as pd
from operator import itemgetter
from sklearn.preprocessing import OneHotEncoder

<frozen importlib._bootstrap>:228: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

In [2]:
def form_getter(file_list, path):
    master_list = []

    for i in tqdm(file_list):
        root = ET.parse(i).getroot()
        track = root[0]
        date = root[1]
        for race in root.iter("Race"):
            print(race)
            ids = []
            boxes = []
            weights = []
            dog_name = []
            for dog in race.iter("Dog"):
                if dog[0].text not in "12345678":
                    print("longscratch")
                    continue
                else:
                    print(dog[0].text)


                if not dog.attrib["id"]:
                    continue
                if not dog[0].text:
                    continue
                if (dog[0].text in "RSBFNPTBD") or ("=" in dog[0].text):
                    # print("scratched check working")
                    continue
                else:
                    ids.append(dog.attrib["id"])
                    boxes.append(dog[0].text)
                    weights.append(dog[5].text)
                    dog_name.append(dog[1].text)


            zipall = list(
                zip(
                    ids,
                    boxes,
                    weights,
                    dog_name
                )
            )
            # print(zipall)
            for i in range(len(zipall)):
                zipall[i] = (
                    race.attrib["id"],
                    date.text,
                    track.text,
                    race[3].text,
                    race[4].text,
                ) + zipall[i]
                master_list.append(zipall[i])

    return master_list

In [3]:
def track_id_gen(dist, track):
    return track[0:4]+"-"+str(int(dist))

In [4]:
#pickle Load results
os.chdir(r"C:\Users\Nick\Documents\GitHub\grvmodel\Python\DATA")
form_file = open( 'results-df-merged-prices.npy', 'rb')
form = pickle.load(form_file)
form

,race_id,date,track,dist_x,grade,place,dog_id,box,split_times,split_margins,...,PPMAX,PPMIN,IPMAX,IPMIN,MORNINGTRADEDVOL,PPTRADEDVOL,IPTRADEDVOL,<!DOCTYPE html>,dog,loc
0,208756700,01 Apr 17,Ballarat,450.0,Maiden Heat,1.0,1296100098,2,6.73,0.00,...,1.0,1001.0,1.0,1001.0,171.76,0.0,0.0,NaN,Swift Operator,AUS
1,208756700,01 Apr 17,Ballarat,450.0,Maiden Heat,2.0,1177320005,3,6.87,0.14,...,1.0,1001.0,1.0,1001.0,391.54,0.0,0.0,NaN,Last Princess,AUS
2,208756700,01 Apr 17,Ballarat,450.0,Maiden Heat,3.0,1549980026,5,6.99,0.26,...,1.0,1001.0,1.0,1001.0,663.20,0.0,0.0,NaN,Daintree Prinz,AUS
3,208756700,01 Apr 17,Ballarat,450.0,Maiden Heat,4.0,1474670055,7,6.88,0.15,...,1.0,1001.0,1.0,1001.0,1406.34,0.0,0.0,NaN,Tic Toc Toby,AUS
4,208756700,01 Apr 17,Ballarat,450.0,Maiden Heat,5.0,913850094,8,6.91,0.18,...,1.0,1001.0,1.0,1001.0,119.00,0.0,0.0,NaN,Race Roquette,AUS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530019,224547720,30 May 17,Warragul,680.0,Special Event,3.0,954250096,2,18.15,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
530020,224547720,30 May 17,Warragul,680.0,Special Event,4.0,1428630000,3,19.10,0.95,...,1.0,1001.0,1.0,1001.0,7248.84,0.0,0.0,NaN,Ebby Ripper,AUS
530021,224547720,30 May 17,Warragul,680.0,Special Event,5.0,-743571,4,18.83,0.68,...,1.0,1001.0,1.0,1001.0,151.40,0.0,0.0,NaN,Dewana Babe,AUS
530022,224547720,30 May 17,Warragul,680.0,Special Event,6.0,-748349,6,19.03,0.88,...,1.0,1001.0,1.0,1001.0,96.44,0.0,0.0,NaN,Always About Me,AUS
530023,224547720,30 May 17,Warragul,680.0,Special Event,7.0,1206210162,7,19.31,1.16,...,1.0,1001.0,1.0,1001.0,282.34,0.0,0.0,NaN,Dakini Allen,AUS

In [5]:
tracks = form.track.unique().tolist()

ohe = OneHotEncoder(dtype=int,sparse=False)
transformed = ohe.fit_transform(form[['track']])
#enc = OneHotEncoder( categories=tracks)

In [6]:
file_list = ["ff-SAN01Sep22.xml"]
fg = form_getter(file_list, path="")
fg

100%|██████████| 1/1 [00:00<00:00, 39.99it/s]

<Element 'Race' at 0x000001D3D4214810>
1
2
3
4
5
6
7
8
longscratch
longscratch
<Element 'Race' at 0x000001D3EE4BDE50>
1
2
3
4
5
6
7
8
longscratch
longscratch
<Element 'Race' at 0x000001D3EE5294F0>
1
2
3
4
5
6
7
8
longscratch
longscratch
<Element 'Race' at 0x000001D3EE5783B0>
1
2
3
4
5
6
7
8
longscratch
longscratch
<Element 'Race' at 0x000001D3EE5C8090>
1
2
3
4
5
6
7
8
longscratch
longscratch
<Element 'Race' at 0x000001D3EE635EF0>
1
2
3
4
5
6
7
8
longscratch
longscratch
<Element 'Race' at 0x000001D3F07E5E00>
1
2
3
4
5
6
7
8
longscratch
longscratch
<Element 'Race' at 0x000001D3F0847400>
1
2
3
4
5
6
7
8
longscratch
longscratch
<Element 'Race' at 0x000001D3F08A5950>
1
2
3
4
5
6
7
8
longscratch
longscratch
<Element 'Race' at 0x000001D3F08FBC70>
1
2
3
4
5
6
7
8
longscratch
longscratch
<Element 'Race' at 0x000001D3F096C900>
1
2
3
4
5
6
7
8
longscratch
longscratch
<Element 'Race' at 0x000001D3F09DF450>
1
2
3
4
5
6
7
8
longscratch
longscratch

[('820735752',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 08:10AM',
  '515m',
  '640983411',
  '1',
  'Trk/Dst 1-0-0-1',
  'CRUISE MODE'),
 ('820735752',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 08:10AM',
  '515m',
  '575326859',
  '2',
  'Trk/Dst 1-0-1-0',
  'MANUKA BOY'),
 ('820735752',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 08:10AM',
  '515m',
  '570897028',
  '3',
  'Trk/Dst 3-0-1-0',
  'PARUMBA GEM'),
 ('820735752',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 08:10AM',
  '515m',
  '649812534',
  '4',
  'Trk/Dst 1-0-0-1',
  'HURRICANE DEMON'),
 ('820735752',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 08:10AM',
  '515m',
  '662302469',
  '5',
  'Trk/Dst 1-1-0-0',
  'CHEEKY WINK'),
 ('820735752',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 08:10AM',
  '515m',
  '623911850',
  '6',
  'Trk/Dst 1-1-0-0',
  'MEPUNGA TILLY'),
 ('820735752',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 08:10AM',
  '515m',
  '662599554',
  '7',
  'Trk/Dst 1-0-1-0',
  'MINTER FROST'),
 ('820735752',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 08:10AM',
  '515m',
  '674864037',
  '8',
  'Trk/Dst 1-1-0-0',
  "BETTY'S BAKLAVA"),
 ('821751723',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 08:32AM',
  '515m',
  '652329057',
  '1',
  'Trk/Dst 1-0-0-0',
  'ALPHA PRINCESS'),
 ('821751723',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 08:32AM',
  '515m',
  '597592802',
  '2',
  'Trk/Dst 1-0-0-0',
  'AMRON DAN'),
 ('821751723',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 08:32AM',
  '515m',
  '632134748',
  '3',
  'Trk/Dst 3-0-1-0',
  'MASTER THE ART'),
 ('821751723',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 08:32AM',
  '515m',
  '632134747',
  '4',
  'Trk/Dst 4-1-0-1',
  'BALONNE BOY'),
 ('821751723',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 08:32AM',
  '515m',
  '623911851',
  '5',
  'Trk/Dst 0-0-0-0',
  'MEPUNGA TESS'),
 ('821751723',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 08:32AM',
  '515m',
  '575326860',
  '6',
  'Trk/Dst 4-0-1-3',
  'MR. FAWNSTONE'),
 ('821751723',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 08:32AM',
  '515m',
  '645329085',
  '7',
  'Trk/Dst 1-0-0-0',
  'NORTHERN BLUEFIN'),
 ('821751723',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 08:32AM',
  '515m',
  '572640001',
  '8',
  'Trk/Dst 0-0-0-0',
  'COLLINDA BILLIE'),
 ('821751733',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 08:50AM',
  '715m',
  '431851986',
  '1',
  'Trk/Dst 24-1-4-5',
  'LUNAR STAR'),
 ('821751733',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 08:50AM',
  '715m',
  '617355260',
  '2',
  'Trk/Dst 0-0-0-0',
  'JIMMY INTENTION'),
 ('821751733',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 08:50AM',
  '715m',
  '580793330',
  '4',
  'Trk/Dst 0-0-0-0',
  'ZIPPING DIESEL'),
 ('821751733',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 08:50AM',
  '715m',
  '448841930',
  '5',
  'Trk/Dst 12-0-1-2',
  'LONG BLACK LASS'),
 ('821751733',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 08:50AM',
  '715m',
  '582171519',
  '7',
  'Trk/Dst 1-0-1-0',
  'BIG BERTHA'),
 ('821751733',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 08:50AM',
  '715m',
  '548249311',
  '8',
  'Trk/Dst 2-0-0-2',
  'MECHANICAL'),
 ('821751732',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 09:13AM',
  '715m',
  '491112271',
  '1',
  'Trk/Dst 6-1-1-2',
  'WHAT COULD BE'),
 ('821751732',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 09:13AM',
  '715m',
  '623911845',
  '2',
  'Trk/Dst 1-1-0-0',
  'OSPREY STORM'),
 ('821751732',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 09:13AM',
  '715m',
  '430850020',
  '4',
  'Trk/Dst 4-0-2-0',
  'TORPEDO TEARS'),
 ('821751732',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 09:13AM',
  '715m',
  '367363291',
  '5',
  'Trk/Dst 22-2-3-4',
  "MY FATHER'S SON"),
 ('821751732',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 09:13AM',
  '715m',
  '611215035',
  '7',
  'Trk/Dst 0-0-0-0',
  'CAWBOURNE ROSES'),
 ('821751732',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 09:13AM',
  '715m',
  '461116512',
  '8',
  'Trk/Dst 1-0-1-0',
  'RADEK BALE'),
 ('821751725',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 09:37AM',
  '515m',
  '522729373',
  '1',
  'Trk/Dst 11-1-3-0',
  'ASTON TENGE'),
 ('821751725',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 09:37AM',
  '515m',
  '587949197',
  '2',
  'Trk/Dst 5-1-2-1',
  'WROTE THE SCRIPT'),
 ('821751725',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 09:37AM',
  '515m',
  '514250949',
  '3',
  'Trk/Dst 13-2-2-1',
  'KANJI GIANT'),
 ('821751725',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 09:37AM',
  '515m',
  '572639997',
  '4',
  'Trk/Dst 0-0-0-0',
  'AUDACIOUS  STELL'),
 ('821751725',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 09:37AM',
  '515m',
  '557433643',
  '5',
  'Trk/Dst 9-2-0-4',
  'STORM STROLLER'),
 ('821751725',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 09:37AM',
  '515m',
  '429759805',
  '6',
  'Trk/Dst 16-2-2-4',
  'FERNANDO MICK'),
 ('821751725',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 09:37AM',
  '515m',
  '557435657',
  '7',
  'Trk/Dst 3-0-2-1',
  'IN A BLUE'),
 ('821751725',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 09:37AM',
  '515m',
  '494121275',
  '8',
  'Trk/Dst 12-1-3-2',
  'MADAM MAXIMUS'),
 ('821751724',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 09:58AM',
  '515m',
  '471933540',
  '1',
  'Trk/Dst 19-2-6-1',
  'ZIVON BALE'),
 ('821751724',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 09:58AM',
  '515m',
  '561781333',
  '2',
  'Trk/Dst 10-2-4-0',
  "LET'S WIN COIN"),
 ('821751724',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 09:58AM',
  '515m',
  '546277875',
  '3',
  'Trk/Dst 5-1-1-0',
  'MEPUNGA MUSTANG'),
 ('821751724',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 09:58AM',
  '515m',
  '587805264',
  '4',
  'Trk/Dst 10-1-0-0',
  'JEBEDIAH'),
 ('821751724',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 09:58AM',
  '515m',
  '561782079',
  '5',
  'Trk/Dst 7-2-2-1',
  'PLAGIARISE'),
 ('821751724',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 09:58AM',
  '515m',
  '592711135',
  '6',
  'Trk/Dst 11-2-4-1',
  'KELSEY BALE'),
 ('821751724',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 09:58AM',
  '515m',
  '572639995',
  '7',
  'Trk/Dst 0-0-0-0',
  'MR. AUDACIOUS'),
 ('821751724',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 09:58AM',
  '515m',
  '562073425',
  '8',
  'Trk/Dst 12-3-4-1',
  'HERE COMES PIE'),
 ('821751731',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 10:22AM',
  '595m',
  '614057327',
  '1',
  'Trk/Dst 1-0-1-0',
  'SUPERMAN KEEPING'),
 ('821751731',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 10:22AM',
  '595m',
  '577404506',
  '2',
  'Trk/Dst 0-0-0-0',
  'TOWER BELL'),
 ('821751731',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 10:22AM',
  '595m',
  '549963742',
  '3',
  'Trk/Dst 2-1-1-0',
  'AMBUSHED'),
 ('821751731',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 10:22AM',
  '595m',
  '501435373',
  '4',
  'Trk/Dst 1-0-0-1',
  'ELUSIVE FLY'),
 ('821751731',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 10:22AM',
  '595m',
  '455427544',
  '5',
  'Trk/Dst 4-0-1-0',
  'CRYMELON COMET'),
 ('821751731',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 10:22AM',
  '595m',
  '331345874',
  '6',
  'Trk/Dst 24-1-3-6',
  'SMOOTH TALKER'),
 ('821751731',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 10:22AM',
  '595m',
  '550831464',
  '7',
  'Trk/Dst 3-0-1-0',
  'GOT NO BRO'),
 ('821751731',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 10:22AM',
  '595m',
  '505983450',
  '8',
  'Trk/Dst 3-0-0-0',
  'TRENZALORE'),
 ('821751729',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 10:43AM',
  '515m',
  '596382391',
  '1',
  'Trk/Dst 12-6-3-2',
  'MAHJONG BAILEY'),
 ('821751729',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 10:43AM',
  '515m',
  '587805266',
  '2',
  'Trk/Dst 8-2-2-0',
  'NOAH CHARLES'),
 ('821751729',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 10:43AM',
  '515m',
  '444701638',
  '3',
  'Trk/Dst 15-2-5-2',
  'MEPUNGA WARRIOR'),
 ('821751729',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 10:43AM',
  '515m',
  '514260500',
  '4',
  'Trk/Dst 10-2-2-1',
  'SET ME FREE'),
 ('821751729',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 10:43AM',
  '515m',
  '514250448',
  '5',
  'Trk/Dst 4-2-1-0',
  'ZIPPY TESLA'),
 ('821751729',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 10:43AM',
  '515m',
  '597592801',
  '6',
  'Trk/Dst 8-5-1-1',
  'AMRON BOY'),
 ('821751729',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 10:43AM',
  '515m',
  '480699483',
  '7',
  'Trk/Dst 6-1-1-0',
  'WESTSIDE WARRIOR'),
 ('821751729',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 10:43AM',
  '515m',
  '570556335',
  '8',
  'Trk/Dst 9-4-1-1',
  'MY NEO'),
 ('821751730',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 11:07AM',
  '595m',
  '469071282',
  '1',
  'Trk/Dst 0-0-0-0',
  'HANDSOME RHINO'),
 ('821751730',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 11:07AM',
  '595m',
  '480699482',
  '2',
  'Trk/Dst 0-0-0-0',
  'MY MATE TIP'),
 ('821751730',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 11:07AM',
  '595m',
  '596364348',
  '3',
  'Trk/Dst 1-0-0-1',
  'DOOKIE DEVIL'),
 ('821751730',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 11:07AM',
  '595m',
  '606760643',
  '4',
  'Trk/Dst 3-1-0-0',
  'ARIARNE BALE'),
 ('821751730',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 11:07AM',
  '595m',
  '458033253',
  '6',
  'Trk/Dst 12-1-2-1',
  'FLYING FOXY'),
 ('821751730',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 11:07AM',
  '595m',
  '452533261',
  '7',
  'Trk/Dst 1-1-0-0',
  'MANILA DUSK'),
 ('821751730',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 11:07AM',
  '595m',
  '517075089',
  '8',
  'Trk/Dst 2-1-0-0',
  'BLUE SPOT'),
 ('821751726',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 11:28AM',
  '515m',
  '460692565',
  '1',
  'Trk/Dst 6-1-0-1',
  'LIMIT SWITCH'),
 ('821751726',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 11:28AM',
  '515m',
  '618411861',
  '2',
  'Trk/Dst 3-1-0-0',
  'WOBBLY BOOTS'),
 ('821751726',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 11:28AM',
  '515m',
  '524412243',
  '3',
  'Trk/Dst 14-0-5-2',
  'SIR CHAPPY'),
 ('821751726',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 11:28AM',
  '515m',
  '549966749',
  '4',
  'Trk/Dst 8-2-3-1',
  'MY ADDICTION'),
 ('821751726',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 11:28AM',
  '515m',
  '570140006',
  '5',
  'Trk/Dst 3-1-0-1',
  'SHERIFF DEMON'),
 ('821751726',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 11:28AM',
  '515m',
  '606761137',
  '6',
  'Trk/Dst 5-0-2-0',
  'THROSSELL BALE'),
 ('821751726',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 11:28AM',
  '515m',
  '539779410',
  '7',
  'Trk/Dst 4-0-1-0',
  'ROCKY HORROR'),
 ('821751726',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 11:28AM',
  '515m',
  '284056501',
  '8',
  'Trk/Dst 44-2-13-9',
  'TOUGH TEARS'),
 ('821751727',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 11:53AM',
  '515m',
  '619407351',
  '1',
  'Trk/Dst 3-1-1-0',
  'IF YOU SAY'),
 ('821751727',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 11:53AM',
  '515m',
  '505983451',
  '2',
  'Trk/Dst 3-0-2-0',
  'POISON SKY'),
 ('821751727',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 11:53AM',
  '515m',
  '476716046',
  '3',
  'Trk/Dst 10-1-0-3',
  'DR. XANDER'),
 ('821751727',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 11:53AM',
  '515m',
  '573720652',
  '4',
  'Trk/Dst 2-0-0-1',
  'BROCKY SANDS'),
 ('821751727',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 11:53AM',
  '515m',
  '534920713',
  '5',
  'Trk/Dst 0-0-0-0',
  'BRECKEN BALE'),
 ('821751727',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 11:53AM',
  '515m',
  '635302590',
  '6',
  'Trk/Dst 5-1-0-1',
  'TRIUMPH'),
 ('821751727',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 11:53AM',
  '515m',
  '596755629',
  '7',
  'Trk/Dst 3-0-1-0',
  'TEXAS LONG HORN'),
 ('821751727',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 11:53AM',
  '515m',
  '596364351',
  '8',
  'Trk/Dst 1-0-1-0',
  'JACKPOT JOAN'),
 ('821751728',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 12:13PM',
  '515m',
  '562073409',
  '1',
  'Trk/Dst 8-0-1-2',
  "SHE'S FOR REAL"),
 ('821751728',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 12:13PM',
  '515m',
  '611215024',
  '2',
  'Trk/Dst 6-0-2-1',
  'HEY SCOOBY'),
 ('821751728',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 12:13PM',
  '515m',
  '447244235',
  '3',
  'Trk/Dst 9-0-2-1',
  'OBSESSION AGOGO'),
 ('821751728',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 12:13PM',
  '515m',
  '312553983',
  '4',
  'Trk/Dst 59-3-6-16',
  'ARLINGTON'),
 ('821751728',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 12:13PM',
  '515m',
  '565382028',
  '5',
  'Trk/Dst 0-0-0-0',
  'REINFORCEMENTS'),
 ('821751728',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 12:13PM',
  '515m',
  '461114954',
  '6',
  'Trk/Dst 3-0-0-0',
  'DOONSIDE SHADOW'),
 ('821751728',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 12:13PM',
  '515m',
  '552236784',
  '7',
  'Trk/Dst 1-1-0-0',
  'EXTREME FORCE'),
 ('821751728',
  '01 Sep 22',
  'Sandown Park',
  '01 Sep 22 12:13PM',
  '515m',
  '537858621',
  '8',
  'Trk/Dst 2-0-0-0',
  'WISE DORPER')]

In [9]:
pred_df = pd.DataFrame(fg, columns=["race_id","dateF", "track", "datetime", "dist", "dog_id", "box", "extra1", "dogname"])
pred_df["dist"] = pred_df["dist"].astype(str).str[:-1].astype(float)
pred_df

,race_id,dateF,track,datetime,dist,dog_id,box,extra1,dogname
0,820735752,01 Sep 22,Sandown Park,01 Sep 22 08:10AM,515.0,640983411,1,Trk/Dst 1-0-0-1,CRUISE MODE
1,820735752,01 Sep 22,Sandown Park,01 Sep 22 08:10AM,515.0,575326859,2,Trk/Dst 1-0-1-0,MANUKA BOY
2,820735752,01 Sep 22,Sandown Park,01 Sep 22 08:10AM,515.0,570897028,3,Trk/Dst 3-0-1-0,PARUMBA GEM
3,820735752,01 Sep 22,Sandown Park,01 Sep 22 08:10AM,515.0,649812534,4,Trk/Dst 1-0-0-1,HURRICANE DEMON
4,820735752,01 Sep 22,Sandown Park,01 Sep 22 08:10AM,515.0,662302469,5,Trk/Dst 1-1-0-0,CHEEKY WINK
...,...,...,...,...,...,...,...,...,...
86,821751728,01 Sep 22,Sandown Park,01 Sep 22 12:13PM,515.0,312553983,4,Trk/Dst 59-3-6-16,ARLINGTON
87,821751728,01 Sep 22,Sandown Park,01 Sep 22 12:13PM,515.0,565382028,5,Trk/Dst 0-0-0-0,REINFORCEMENTS
88,821751728,01 Sep 22,Sandown Park,01 Sep 22 12:13PM,515.0,461114954,6,Trk/Dst 3-0-0-0,DOONSIDE SHADOW
89,821751728,01 Sep 22,Sandown Park,01 Sep 22 12:13PM,515.0,552236784,7,Trk/Dst 1-1-0-0,EXTREME FORCE
90,821751728,01 Sep 22,Sandown Park,01 Sep 22 12:13PM,515.0,537858621,8,Trk/Dst 2-0-0-0,WISE DORPER

In [10]:
pred_df.columns

ohe = OneHotEncoder(dtype=int,sparse=False)
transformed = ohe.fit(form[['track']])

transformed.transform(pred_df[['track']])

pred_df["tracksOnehot"] =  transformed.transform(pred_df[['track']]).tolist()
pred_df["tracksOnehot"]

0     [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]
1     [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]
2     [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]
3     [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]
4     [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]
                          ...
86    [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]
87    [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]
88    [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]
89    [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]
90    [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]
Name: tracksOnehot, Length: 91, dtype: object

In [11]:
race_forms = form.groupby(["race_id"])
dog_forms = form.groupby(["dog_id"])
print(race_forms)
race_input_layer = []
race_classes = []
full_details = []

race_pred_forms = pred_df.groupby(["race_id"])

for i, j in tqdm(race_forms):
    print( f"{i=},{j=}")
    break


for i, j in tqdm(race_pred_forms):
    try:
        race_date = pd.to_datetime(j["dateF"].iloc[0])
        # print(f"{race_date=}")
        dogs = j.dog_id
        # prev_form = form[(form["date"]< race_date)]
        race_id = i
        # print(prev_form.shape)
        race_dist = j.dist.iloc[1]
        trackOHE = j.tracksOnehot.iloc[1]
        dog_info = []


        i = 0
        for dog in dogs:
            # print(f"dog id = {dog}")
            prev_form = dog_forms.get_group(dog)
            prev_form = prev_form[(prev_form["dateF"] < race_date)]
            dog_speed_avg = prev_form.speed.mean()
            dog_speed_sd = prev_form.speed.std()
            dog_speed_max = prev_form.speed.max()
            dog_split_avg = prev_form.split_speed.mean()
            dog_split_sd = prev_form.split_speed.std()
            dog_split_max = prev_form.split_speed.max()
            dog_split_mg_avg = prev_form.split_margins.mean()
            dog_margin_mean = prev_form.margin.mean()
            dog_margin_sd = prev_form.margin.std()
            dog_race_count = prev_form.shape[0]
            dog_wins = prev_form[prev_form["place"] == 1].shape[0]
            dog_places = prev_form[prev_form["place"] <= 3].shape[0]
            dog_box = j.box.iloc[i]
            dog_weight = prev_form.weigth.iloc[0]
            dog_stats = (
                dog,
                [
                    dog_box,
                    dog_speed_avg,
                    dog_speed_sd,
                    dog_speed_max,
                    dog_split_avg,
                    dog_split_sd,
                    dog_split_max,
                    dog_margin_mean,
                    dog_margin_sd,
                    dog_race_count,
                    dog_wins,
                    dog_places,
                    dog_weight,
                ],
            )
            dog_info.append(dog_stats)
            # print(f"{dog_stats=}")
            i = i + 1

        dog_info.sort(key=itemgetter(0))
        input_layer = (
            trackOHE
            + [race_dist]
            + [item for sublist in [x[1] for x in dog_info] for item in sublist]
        )
        if len(dogs) > 8:
            print(f"{race_id=}")
            print(f"{race_date=}")
            print(f"{j.track.iloc[1]=}")
        race_input_layer.append(input_layer)
        full_details.append(
            (race_id, input_layer))
    except Exception as e:
        print(f"{e=}")

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001D3F0933F40>

  0%|          | 0/72075 [00:00<?, ?it/s]
  0%|          | 0/12 [00:00<?, ?it/s]

i='12539914',j=         race_id       date      track  dist_x         grade  place  \
444750  12539914  22 Jun 18  Traralgon   525.0  Maiden Final    1.0
444751  12539914  22 Jun 18  Traralgon   525.0  Maiden Final    2.0
444752  12539914  22 Jun 18  Traralgon   525.0  Maiden Final    3.0
444753  12539914  22 Jun 18  Traralgon   525.0  Maiden Final    4.0
444754  12539914  22 Jun 18  Traralgon   525.0  Maiden Final    5.0
444755  12539914  22 Jun 18  Traralgon   525.0  Maiden Final    6.0
444756  12539914  22 Jun 18  Traralgon   525.0  Maiden Final    7.0
444757  12539914  22 Jun 18  Traralgon   525.0  Maiden Final    8.0

            dog_id  box split_times  split_margins  ...  PPMAX   PPMIN  IPMAX  \
444750   115367782    8        4.86           0.00  ...    1.0  1001.0    1.0
444751   128006011    5        5.04           0.18  ...    1.0  1001.0    1.0
444752   167542442    4        4.90           0.04  ...    NaN     NaN    NaN
444753   145856635    2        5.06           0.20  ...    1.0  1001.0    1.0
444754   159734832    7        4.95           0.09  ...    1.0  1001.0    1.0
444755  2131520028    3        5.06           0.20  ...    1.0  1001.0    1.0
444756  1199430051    6        5.04           0.18  ...    1.0  1001.0    1.0
444757   109032142    1        5.06           0.20  ...    1.0  1001.0    1.0

         IPMIN MORNINGTRADEDVOL PPTRADEDVOL IPTRADEDVOL  <!DOCTYPE html>  \
444750  1001.0           335.24         0.0         0.0              NaN
444751  1001.0            88.96         0.0         0.0              NaN
444752     NaN              NaN         NaN         NaN              NaN
444753  1001.0           245.78         0.0         0.0              NaN
444754  1001.0          1025.98         0.0         0.0              NaN
444755  1001.0            19.74         0.0         0.0              NaN
444756  1001.0             6.64         0.0         0.0              NaN
444757  1001.0             5.16         0.0         0.0              NaN

                     dog  loc
444750         Swift Gem  AUS
444751        Vandagambo  AUS
444752               NaN  NaN
444753   Celestial Jewel  AUS
444754       Rappa Flash  AUS
444755           Kiomara  AUS
444756      Final Chimes  AUS
444757       Evil Shadow  AUS

[8 rows x 48 columns]

100%|██████████| 12/12 [00:00<00:00, 18.90it/s]

In [72]:
with open("prediction_inputs.npy", "wb") as fp:   #Pickling
    
    pickle.dump(full_details, fp)

In [12]:
full_details

[('820735752',
  [0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   1,
   0,
   0,
   0,
   0,
   0,
   515.0,
   '3',
   0.05895948472696574,
   0.0008553943770938378,
   0.0606990291262136,
   0.05939257461692149,
   0.0006027420277007245,
   0.06071290065087939,
   8.7475,
   4.922421490824748,
   16,
   0,
   3,
   '25.8',
   '2',
   0.05882297734627832,
   0.000510140035586804,
   0.059375,
   0.05942143446827861,
   0.00026240645703854044,
   0.05972047327487575,
   7.466666666666666,
   7.738554990005132,
   3,
   0,
   2,
   '34.9',
   '6',
   0.05881589148956331,
   0.0011413817545716676,
   0.06015533980582524,
   0.05832591826716292,
   0.0007282929407247996,
   0.059085517607338524,
   7.4485714285714275,
   7.973507025501031,
   7,
   1,
   3,
   '29.3',
   '1',
   0.05812294850147741,
   0.0008570038900407612,
   0.059225,
   0.058686244405054586,
   0.0015211815317792126,
   0.06107467901807021,
   2.752,
   1.4575904774661503,
   5,
   0,
   3,
   '27.8',
   '4',
   0.05883495145631068,
   nan,
   0.05883495145631068,
   0.05934158383055317,
   nan,
   0.05934158383055317,
   4.1,
   nan,
   1,
   0,
   1,
   '33.2',
   '5',
   0.058349514563106795,
   nan,
   0.058349514563106795,
   0.057886035547916964,
   nan,
   0.057886035547916964,
   0.0,
   nan,
   1,
   1,
   1,
   '28.9',
   '7',
   0.058640776699029125,
   nan,
   0.058640776699029125,
   0.060013375345616043,
   nan,
   0.060013375345616043,
   2.69,
   nan,
   1,
   0,
   1,
   '31.8',
   '8',
   0.05829126213592233,
   nan,
   0.05829126213592233,
   0.057998000800427434,
   nan,
   0.057998000800427434,
   0.0,
   nan,
   1,
   1,
   1,
   '27.2']),
 ('821751723',
  [0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   1,
   0,
   0,
   0,
   0,
   0,
   515.0,
   '8',
   0.05779545454545454,
   0.000987351132552736,
   0.058977272727272725,
   0.05814945693760169,
   0.0010843552655258575,
   0.06030710783976007,
   5.062857142857142,
   4.0722340890708235,
   7,
   2,
   4,
   '27.7',
   '6',
   0.05804650809112423,
   0.0008298282257998041,
   0.06017948717948718,
   0.05832301703754774,
   0.0012078606807092481,
   0.06101227228323117,
   5.796800000000001,
   4.804284303272098,
   25,
   2,
   12,
   '33.6',
   '2',
   0.058010515630698395,
   0.001016826289740115,
   0.05946666666666667,
   0.0587309943468202,
   0.0013690750036647397,
   0.06168541891544006,
   7.455384615384616,
   5.078237252211006,
   13,
   1,
   6,
   '32.9',
   '5',
   0.05757625948930297,
   0.0009497920584143746,
   0.05883809523809524,
   0.05767928479508682,
   0.0011090867092752002,
   0.05889169523267557,
   4.213333333333334,
   3.6765454800215194,
   6,
   2,
   2,
   '27.6',
   '4',
   0.05782438969418336,
   0.0008006125795041453,
   0.05959223300970874,
   0.05845938943683301,
   0.000892084930719288,
   0.060013375345616043,
   5.429230769230769,
   4.268257766229022,
   13,
   2,
   7,
   '31.3',
   '3',
   0.05796823414833132,
   0.0006845423711612171,
   0.05939805825242719,
   0.058415368843275146,
   0.0008448865339400406,
   0.06021782412958748,
   3.53,
   3.2576631548963486,
   14,
   2,
   10,
   '34.3',
   '7',
   0.05765570162214315,
   0.001184709483281636,
   0.059611650485436894,
   0.0580323082401712,
   0.0007180159345203824,
   0.05945354908306365,
   6.301428571428572,
   5.8441350331519795,
   7,
   2,
   2,
   '37.5',
   '1',
   0.057659938265090756,
   0.0009816606937452078,
   0.05941304347826087,
   0.0570142431924918,
   0.0007812081676278258,
   0.058315030430325425,
   4.6,
   3.604477374441008,
   8,
   2,
   4,
   '27.5']),
 ('821751724',
  [0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   1,
   0,
   0,
   0,
   0,
   0,
   515.0,
   '1',
   0.05756513339889587,
   0.0008088222911351976,
   0.05949514563106796,
   0.05772865513032693,
   0.0014540834925296639,
   0.06603813426850673,
   3.7401754385964914,
   3.6205250661176156,
   57,
   10,
   36,
   '32.5',
   '3',
   0.056793242999469244,
   0.0011068626403778932,
   0.05900952380952381,
   0.05676247448444561,
   0.0010289600322385287,
   0.058650817553724616,
   2.5456756756756755,
   3.110012094064141,
   37,
   17,
   25,
   '32.6',
   '2',
   0.05782871012482663,
   0.0008242220913085049,
   0.060310679611650486,
   0.05735985505571287,
   0.000886592713600153,
   0.058638893520602454,
   4.163749999999999,
   5.733460705949476,
   16,
   3,
   11,
   '26.7',
   '5',
   0.057965163049571805,
   0.0010218619677874207,
   0.0598252427184466,
   0.05793940325573922,
   0.0011902525159406781,
   0.06023730585063699,
   6.037368421052633,
   5.6504973646428915,
   19,
   4,
   10,
   '26.6',
   '8',
   0.05751052292453016,
   0.0009205781645518436,
   0.05943689320388349,
   0.05845878411972469,
   0.002098851691484916,
   0.0658142761862406,
   4.263181818181819,
   4.117750641590667,
   22,
   6,
   14,
   '32.7',
   '7',
   0.05546152286022952,
   0.0007264865594900767,
   0.05673913043478261,
   0.050970406307128624,
   0.005760330782002241,
   0.05693978253133321,
   1.7175,
   3.21030478587031,
   12,
   9,
   9,
   '34.7',
   '4',
   0.0582019703355288,
   0.0010651177509491646,
   0.06099029126213592,
   0.058068352310948,
   0.0009549965040282782,
   0.05975582482575678,
   6.851666666666667,
   7.3368875444959425,
   24,
   6,
   9,
   '32.5',
   '6',
   0.05718555486257521,
   0.0007813937574294687,
   0.05885436893203883,
   0.05764123669829452,
   0.0012692127903010388,
   0.06066554029411973,
   3.4517391304347824,
   3.6178052766508655,
   23,
   7,
   17,
   '31.2']),
 ('821751725',
  [0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   1,
   0,
   0,
   0,
   0,
   0,
   515.0,
   '6',
   0.0570521524148857,
   0.0010660193104188686,
   0.0591958762886598,
   0.057383808422663087,
   0.0014899321274796935,
   0.0631279791990471,
   3.3206557377049184,
   4.326512787011598,
   61,
   21,
   42,
   '30.2',
   '8',
   0.05768789963434108,
   0.0009959035040541288,
   0.05975238095238095,
   0.05773205370983949,
   0.0011703664499625101,
   0.05986751795627222,
   5.320263157894736,
   5.017135764579986,
   38,
   8,
   19,
   '29.4',
   '3',
   0.057587973192906136,
   0.0007062381858207394,
   0.05918095238095238,
   0.05757138697437059,
   0.0009855171700486175,
   0.060317909162483134,
   4.762391304347827,
   3.8435754100013635,
   46,
   8,
   22,
   '35.5',
   '1',
   0.05789586297245523,
   0.0005768653121712907,
   0.05906666666666667,
   0.05848619148210199,
   0.0008248746269254558,
   0.060314290478333955,
   4.604516129032258,
   3.9351737265417546,
   31,
   5,
   13,
   '31.4',
   '5',
   0.05753078202024714,
   0.0008598756096557264,
   0.05946666666666667,
   0.05720043222372693,
   0.0008907767256452037,
   0.05930905230369505,
   2.590952380952381,
   4.093425099793453,
   21,
   11,
   16,
   '31.2',
   '7',
   0.05726369394747541,
   0.001019415465259479,
   0.05948571428571429,
   0.05725548571864613,
   0.001294794696478638,
   0.06100217569605989,
   4.293571428571429,
   4.741707946602266,
   42,
   12,
   24,
   '30.3',
   '4',
   0.05732388169287263,
   0.0010157024590686837,
   0.06066666666666667,
   0.051590120489886565,
   0.0062042795611582146,
   0.0589756601161188,
   2.9217391304347826,
   4.259847043961164,
   23,
   6,
   15,
   '26.7',
   '2',
   0.057377370468432845,
   0.001071172453180446,
   0.05872380952380952,
   0.05707811121370952,
   0.0014017236524642056,
   0.05886227978163332,
   3.1035714285714286,
   3.946873362632673,
   14,
   6,
   10,
   '36.0']),
 ('821751726',
  [0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   1,
   0,
   0,
   0,
   0,
   0,
   515.0,
   '8',
   0.058230433813570674,
   0.0006243200966809789,
   0.06015126050420168,
   0.05817065190940254,
   0.0007817121021874827,
   0.06021420059589593,
   5.9328301886792465,
   4.468673171414226,
   53,
   4,
   24,
   '31.7',
   '1',
   0.058268738280421103,
   0.0007046672799016101,
   0.05969230769230769,
   0.05857826640865581,
   0.0010797373239893068,
   0.06040186021841824,
   4.4055,
   4.050423597080863,
   20,
   5,
   11,
   '25.3',
   '3',
   0.05788970062509702,
   0.0007786144162414949,
   0.05968932038834951,
   0.05832156435346041,
   0.002295455582536566,
   0.06112667417888717,
   4.2558536585365845,
   3.447535333836157,
   41,
   5,
   24,
   '34.0',
   '7',
   0.05739055122214675,
   0.0009699681392551329,
   0.059314285714285715,
   0.05633002247687094,
   0.0020932573488325005,
   0.05993862540892323,
   4.405,
   3.9248114087933694,
   38,
   8,
   24,
   '33.2',
   '4',
   0.05814765816707564,
   0.00046739253376518766,
   0.05904761904761905,
   0.0587756103682858,
   0.0006427015349534168,
   0.05988203700618829,
   3.959230769230769,
   4.221886350788514,
   13,
   3,
   8,
   '34.2',
   '5',
   0.057883151254035245,
   0.0009470111130952853,
   0.05965714285714286,
   0.058198285230326705,
   0.001003961807284983,
   0.06001019758264035,
   4.674137931034483,
   3.949487776228872,
   29,
   6,
   18,
   '31.9',
   '6',
   0.057315991608198655,
   0.0007566765658342989,
   0.05846153846153846,
   0.05810383749102332,
   0.0009204025591468769,
   0.060105895088454424,
   2.6438095238095243,
   2.514904523417293,
   21,
   6,
   15,
   '35.1',
   '2',
   0.05754660451509941,
   0.0011746199485134791,
   0.059320388349514565,
   0.05790300137302486,
   0.0012382813951151747,
   0.0606851668606789,
   4.196666666666666,
   4.769096450312255,
   15,
   3,
   9,
   '26.1']),
 ('821751727',
  [0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   1,
   0,
   0,
   0,
   0,
   0,
   515.0,
   '3',
   0.05779873052987224,
   0.0009208073849892814,
   0.06007619047619048,
   0.057171268613195755,
   0.0020964018344783344,
   0.059703110181383266,
   5.629074074074073,
   4.552865682066385,
   54,
   9,
   24,
   '33.3',
   '2',
   0.05778644185687462,
   0.000734745934041284,
   0.06068571428571429,
   0.05816352334273528,
   0.0007694197559569923,
   0.05986751795627222,
   4.416530612244898,
   3.9881410409594387,
   49,
   8,
   21,
   '31.0',
   '5',
   0.057367990070827365,
   0.0006498652085235548,
   0.0584,
   0.05802169428039276,
   0.0008387519533198274,
   0.059598080541566865,
   4.223000000000001,
   3.7419127968607637,
   30,
   5,
   18,
   '31.9',
   '4',
   0.05742046312419299,
   0.0008424742427189659,
   0.05862135922330097,
   0.0514941493305849,
   0.006381344696092103,
   0.05766210504289601,
   1.832857142857143,
   2.289299123354237,
   7,
   4,
   5,
   '30.4',
   '8',
   0.05752352177116802,
   0.0006148927403544051,
   0.05859047619047619,
   0.05791057512341423,
   0.0011591439114547165,
   0.060047596790318986,
   4.402142857142858,
   4.1469380336514625,
   14,
   2,
   8,
   '26.3',
   '7',
   0.057576986267553816,
   0.0010026177535773697,
   0.05980582524271845,
   0.0554701377320089,
   0.004458020506145984,
   0.05931421155191741,
   4.105714285714286,
   4.962505991360184,
   21,
   6,
   13,
   '30.4',
   '1',
   0.057639890287705824,
   0.0010708371802446728,
   0.058660194174757284,
   0.05799530189543272,
   0.0011523726445472977,
   0.059546249882789115,
   3.2683333333333326,
   4.9642055423467975,
   6,
   2,
   4,
   '32.8',
   '6',
   0.05755244264025924,
   0.0012242201804243125,
   0.05945631067961165,
   0.05851029622859281,
   0.001018525057300441,
   0.05997921108678765,
   3.84,
   4.6008418202048045,
   12,
   4,
   6,
   '32.8']),
 ('821751728',
  [0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   1,
   0,
   0,
   0,
   0,
   0,
   515.0,
   '4',
   0.058178029957675806,
   0.0008853403931372357,
   0.062419047619047624,
   0.058545124307546596,
   0.0009886172462081576,
   0.06109614239194198,
   6.085638297872339,
   4.963839252617809,
   94,
   5,
   39,
   '30.4',
   '3',
   0.058480804626779535,
   0.0009320896953154033,
   0.06270096463022508,
   0.05896665129000991,
   0.001451614143517951,
   0.0655909908698826,
   6.3879166666666665,
   4.850082235904404,
   48,
   4,
   15,
   '32.7',
   '6',
   0.057611080259251594,
   0.000918536354634541,
   0.059670588235294114,
   0.05759438904052717,
   0.0012028052337217919,
   0.060224354114509444,
   5.3248148148148156,
   5.223081444136189,
   27,
   7,
   11,
   '26.0',
   '8',
   0.057917707948934694,
   0.0005560318952335184,
   0.05871844660194175,
   0.058581245840000594,
   0.001050531201466075,
   0.06076106300039569,
   4.987272727272728,
   3.54708920358395,
   11,
   0,
   3,
   '25.0',
   '7',
   0.056636745261211284,
   0.0008279003578277349,
   0.05744444444444445,
   0.05736688940475971,
   0.0022366949118526247,
   0.06173669937232514,
   3.59,
   5.695338444728285,
   6,
   4,
   4,
   '31.9',
   '1',
   0.05830792339457039,
   0.0014431754008113814,
   0.06540909090909092,
   0.056736602293590496,
   0.007304721685904483,
   0.05989743575847079,
   6.7175,
   10.50514712553005,
   32,
   3,
   15,
   '26.2',
   '5',
   0.05743629846669911,
   0.0006806101977178143,
   0.05860975609756098,
   0.05725250635534183,
   0.0012971179581488176,
   0.060486482497069324,
   4.772857142857143,
   4.799659328570067,
   14,
   5,
   8,
   '26.6',
   '2',
   0.05850483850405546,
   0.00041211265231094036,
   0.05914429530201342,
   0.05805156484663302,
   0.0009183871363916876,
   0.06000918470578137,
   5.389565217391305,
   4.109564761582942,
   23,
   3,
   14,
   '34.2']),
 ('821751729',
  [0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   1,
   0,
   0,
   0,
   0,
   0,
   515.0,
   '3',
   0.05759549891177418,
   0.0007069027359228102,
   0.05955244755244755,
   0.05560479556682021,
   0.009815463059379071,
   0.05972114675273609,
   2.7748000000000004,
   3.048052734023438,
   50,
   13,
   37,
   '33.0',
   '7',
   0.057588456222565455,
   0.0007595836317227191,
   0.059067961165048546,
   0.058153005579849905,
   0.0009833462195661933,
   0.06076106300039569,
   3.8787499999999993,
   3.22604241749658,
   40,
   8,
   22,
   '30.1',
   '5',
   0.05745768654683808,
   0.0006987108029516007,
   0.059257142857142855,
   0.05865461785494449,
   0.0010878354264773815,
   0.061851415327631006,
   3.373030303030303,
   3.746501271893956,
   33,
   10,
   24,
   '37.5',
   '4',
   0.057373513377960345,
   0.0009044494366707524,
   0.05893203883495146,
   0.057383247663232065,
   0.0010569574537337184,
   0.06021782412958748,
   3.7685714285714287,
   3.998636374708615,
   21,
   8,
   15,
   '27.4',
   '8',
   0.057135974322051815,
   0.0009090288789231198,
   0.059262135922330095,
   0.05624303603368961,
   0.0027571774294526284,
   0.059658178923922174,
   2.0483333333333333,
   3.0946822084043615,
   24,
   13,
   21,
   '30.4',
   '2',
   0.058026901821890374,
   0.0008357258391517365,
   0.05984761904761905,
   0.05796897643793924,
   0.0008997953143426574,
   0.0595351013648888,
   6.141153846153846,
   6.212443208222077,
   26,
   7,
   12,
   '30.7',
   '1',
   0.05805083726051365,
   0.0007999943970506827,
   0.05951666666666667,
   0.05838719129408531,
   0.00264068653354793,
   0.060940347887380196,
   3.56,
   3.939841367364935,
   25,
   7,
   18,
   '32.0',
   '6',
   0.05689165062644979,
   0.0007801806190092179,
   0.05836893203883495,
   0.057435135948901116,
   0.0008567161465565815,
   0.058874675635990734,
   2.1883333333333335,
   3.353495542406636,
   18,
   10,
   13,
   '31.6']),
 ('821751730',
  [0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   1,
   0,
   0,
   0,
   0,
   0,
   595.0,
   '7',
   0.05733717257477762,
   0.0010792663379622152,
   0.05976666666666666,
   0.05735250917029356,
   0.0013170295332963764,
   0.06114695721100872,
   4.074468085106384,
   4.419098771248076,
   47,
   13,
   30,
   '32.2',
   '6',
   0.05839812727513471,
   0.0008626358719994203,
   0.060419580419580426,
   0.05602093888258824,
   0.008542985578091866,
   0.06106679562568651,
   6.1864444444444455,
   4.513216025063379,
   45,
   6,
   18,
   '25.8',
   '1',
   0.05725787712502029,
   0.0007457619108963391,
   0.05897087378640777,
   0.05654119462940858,
   0.0009985972689303694,
   0.058638893520602454,
   3.9148484848484846,
   4.135071130896754,
   33,
   11,
   21,
   '33.9',
   '2',
   0.05727151222818854,
   0.0008205047756425219,
   0.05897142857142857,
   0.05775232480665852,
   0.0011875530703622935,
   0.06053767673936482,
   3.1793333333333327,
   3.3055273269315,
   45,
   14,
   30,
   '30.5',
   '8',
   0.057273669578075455,
   0.0009455094218626774,
   0.0594,
   0.056439875600924824,
   0.006435804128270601,
   0.05976425104833827,
   3.9725000000000006,
   3.9613018326431937,
   44,
   10,
   24,
   '31.6',
   '3',
   0.057869154061624656,
   0.0008445100293724261,
   0.05918095238095238,
   0.05799787322181727,
   0.0009411572850608555,
   0.059197359173179614,
   2.896,
   4.132886919057221,
   15,
   5,
   11,
   '32.0',
   '4',
   0.0581155839967983,
   0.000930508514841134,
   0.05984761904761905,
   0.059019994123002954,
   0.0015081077033785217,
   0.06477965679972825,
   5.597916666666666,
   5.116802652444002,
   24,
   6,
   10,
   '28.8']),
 ('821751731',
  [0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   1,
   0,
   0,
   0,
   0,
   0,
   595.0,
   '6',
   0.058497437618584475,
   0.0007919860149117463,
   0.06180769230769231,
   0.059605465750264826,
   0.0020101081846334834,
   0.06360717432371507,
   5.731847826086955,
   4.427663767510705,
   92,
   7,
   38,
   '32.2',
   '5',
   0.05743569597144055,
   0.0006516857151380639,
   0.05902857142857142,
   0.058915366877418204,
   0.0009277382110526953,
   0.06118361959202211,
   4.757735849056604,
   3.542429979498772,
   53,
   6,
   26,
   '32.1',
   '4',
   0.05831317328421789,
   0.0008140167455277717,
   0.06119480519480519,
   0.05872589436592684,
   0.001944452025358734,
   0.06605949898118184,
   6.165151515151515,
   5.778990029198507,
   33,
   5,
   14,
   '27.1',
   '8',
   0.05858263700272841,
   0.0007696048254285274,
   0.060363636363636355,
   0.055237178083863706,
   0.012725880561492063,
   0.06198968743606545,
   6.58125,
   4.603977760366433,
   40,
   4,
   11,
   '34.1',
   '3',
   0.057913993427524256,
   0.0009900704584935522,
   0.05970873786407767,
   0.05870036838826794,
   0.0007033967988306507,
   0.06012534059812652,
   4.2645,
   5.269822203132813,
   20,
   4,
   11,
   '33.6',
   '7',
   0.057721481880468974,
   0.0007476132860477981,
   0.05895145631067961,
   0.05909922542310223,
   0.0009177755955384007,
   0.06117817558060582,
   4.76,
   3.7149641092927577,
   25,
   4,
   12,
   '37.6',
   '2',
   0.058109798546155444,
   0.0011883122790030875,
   0.06138263665594855,
   0.05600451693550655,
   0.004957033956319479,
   0.0614853994671799,
   5.088205128205128,
   5.1747747837058835,
   39,
   10,
   18,
   '32.4',
   '1',
   0.058343805704099826,
   0.0004695937243126563,
   0.05903030303030303,
   0.04761911344675318,
   0.02019193502569431,
   0.05788486679588808,
   0.765,
   1.4446337482790117,
   4,
   2,
   4,
   '33.9']),
 ('821751732',
  [0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   1,
   0,
   0,
   0,
   0,
   0,
   715.0,
   '5',
   0.058775949148888736,
   0.000836729822358953,
   0.06037241379310345,
   0.058294550641265055,
   0.009013400272910164,
   0.0631487933346136,
   4.96,
   3.8452677047157886,
   44,
   3,
   18,
   '34.8',
   '4',
   0.058473768890001145,
   0.0006951634541059638,
   0.05954999999999999,
   0.058482459067864555,
   0.0014251823593485142,
   0.061235193536595005,
   4.365,
   4.163602311763975,
   20,
   5,
   12,
   '32.7',
   '8',
   0.05800584498609468,
   0.0007139354111495346,
   0.06013333333333334,
   0.058657111412244736,
   0.0011318829852916632,
   0.06234447591111567,
   4.809056603773584,
   3.90431973004603,
   53,
   7,
   21,
   '32.0',
   '1',
   0.05823685267075076,
   0.0006438436673732009,
   0.059720279720279726,
   0.05819176566113231,
   0.0010432069631059128,
   0.0605987786776972,
   5.0473684210526315,
   4.191672364575838,
   38,
   8,
   18,
   '27.6',