In [9]:
import pickle
import pandas as pd
import os
import torch

import betfairlightweight
from betfairlightweight import filters
from datetime import datetime
from datetime import timedelta
from dateutil import tz
import math
import numpy as np
import pandas as pd
from scipy.stats import zscore
from sklearn.linear_model import LogisticRegression
import fasttrack as ft
import importlib
import featurecreations

# Import libraries for logging in
from flumine import Flumine, clients
from flumine import BaseStrategy 
from flumine.order.trade import Trade
from flumine.order.order import LimitOrder, OrderStatus
from flumine.markets.market import Market
from betfairlightweight.resources import MarketBook
from flumine.streams.datastream import DataStream
import logging 
import re
from ft_sec_key import SECKEY
from nltk.tokenize import regexp_tokenize

In [10]:
seckey = SECKEY
greys = ft.Fasttrack(seckey)
today = datetime.today().strftime('%Y-%m-%d')
ahead3 = (datetime.today()).strftime('%Y-%m-%d')

race_details, dog_results = greys.getBasicFormat(today, dt_end=ahead3)

race_details = race_details[['@id', 'RaceNum', 'Distance', 'Date','RaceTime', 'RaceName', 'RaceGrade', 'Track', 'State']]
race_details['RaceId'] = race_details['@id']
dog_results = dog_results[['@id', 'RaceBox', 'DogName', 'RaceId', 'DogGrade']]
dog_results['DogId'] = dog_results['@id']
dog_results['box'] = dog_results['RaceBox']

prediction_df = pd.merge(dog_results,race_details, how='left', on='RaceId')
prediction_df.DogName = prediction_df.DogName.apply(lambda x: x.replace("'", "").replace(".", "").replace("Res", "").strip())

# x = featurecreations.generate_prediction_dataframe(r"./DATA/all-results-db.npy", prediction_df)

# x.to_pickle(f'prediction_input {today}.npy')

Valid Security Key
Getting meets for each date ..

100%|██████████| 1/1 [00:01<00:00,  1.43s/it]

Getting dog lineups ..

100%|██████████| 15/15 [00:38<00:00,  2.57s/it]

In [3]:
prediction_df

,@id_x,RaceBox,DogName,RaceId,DogGrade,DogId,box,@id_y,RaceNum,Distance,Date,RaceTime,RaceName,RaceGrade,Track,State
0,745076702,1,SIPPY CUP EMU,947405564,M,745076702,1,947405564,1,460m,28 Sep 23,03:04PM,SPORTSBET GREEN TICKS,Tier 3 - Maiden,Warragul,VIC
1,788011385,2,FINANCIER,947405564,M,788011385,2,947405564,1,460m,28 Sep 23,03:04PM,SPORTSBET GREEN TICKS,Tier 3 - Maiden,Warragul,VIC
2,772515956,3,POT OF GOLD,947405564,M,772515956,3,947405564,1,460m,28 Sep 23,03:04PM,SPORTSBET GREEN TICKS,Tier 3 - Maiden,Warragul,VIC
3,694776866,4,SIR SUGAR,947405564,M,694776866,4,947405564,1,460m,28 Sep 23,03:04PM,SPORTSBET GREEN TICKS,Tier 3 - Maiden,Warragul,VIC
4,640324597,5,TAKE A CARNATION,947405564,M,640324597,5,947405564,1,460m,28 Sep 23,03:04PM,SPORTSBET GREEN TICKS,Tier 3 - Maiden,Warragul,VIC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,782171737,4,ME SPOOK,946804852,6,782171737,4,946804852,11,297m,28 Sep 23,10:55PM,PBD 1-3 WINS LADBROKES MATES MODE,Grade 5,Dapto,NSW
1461,716345393,5,SNOWY ETHICS,946804852,5,716345393,5,946804852,11,297m,28 Sep 23,10:55PM,PBD 1-3 WINS LADBROKES MATES MODE,Grade 5,Dapto,NSW
1462,650078101,6,TIAS BABE,946804852,6,650078101,6,946804852,11,297m,28 Sep 23,10:55PM,PBD 1-3 WINS LADBROKES MATES MODE,Grade 5,Dapto,NSW
1463,782171232,7,FLAMING SONIA,946804852,7,782171232,7,946804852,11,297m,28 Sep 23,10:55PM,PBD 1-3 WINS LADBROKES MATES MODE,Grade 5,Dapto,NSW
1464,561780909,8,SMELL LIKE BEANS,946804852,7,561780909,8,946804852,11,297m,28 Sep 23,10:55PM,PBD 1-3 WINS LADBROKES MATES MODE,Grade 5,Dapto,NSW

In [4]:
prediction_df.columns

Index(['@id_x', 'RaceBox', 'DogName', 'RaceId', 'DogGrade', 'DogId', 'box',
       '@id_y', 'RaceNum', 'Distance', 'Date', 'RaceTime', 'RaceName',
       'RaceGrade', 'Track', 'State'],
      dtype='object')

In [5]:
prediction_df['race datetime']  =  pd.to_datetime(prediction_df.apply(lambda x: f"{x['Date']} {x['RaceTime']}",axis=1))

In [6]:
prediction_df['race datetime']

0      2023-09-28 15:04:00
1      2023-09-28 15:04:00
2      2023-09-28 15:04:00
3      2023-09-28 15:04:00
4      2023-09-28 15:04:00
               ...
1460   2023-09-28 22:55:00
1461   2023-09-28 22:55:00
1462   2023-09-28 22:55:00
1463   2023-09-28 22:55:00
1464   2023-09-28 22:55:00
Name: race datetime, Length: 1465, dtype: datetime64[ns]

In [7]:
prediction_df.Track.value_counts()

Ipswich          116
Warrnambool      112
Healesville      111
Northam          111
Warragul         110
Christchurch     106
Sandown Park     101
Waikato           98
Mount Gambier     98
Hobart            93
Angle Park        87
Gunnedah          83
Casino            83
Dapto             83
Albion Park       73
Name: Track, dtype: int64

In [8]:
# Credentials to login and logging in 
trading = betfairlightweight.APIClient('nickbarlow@live.com.au','un6/chxe!N!?adsp',app_key='JFWqJHqB4Akfi5hK')
client = clients.BetfairClient(trading, interactive_login=True)

# Login
framework = Flumine(client=client)

trading.login_interactive()

racing_filter=betfairlightweight.filters.market_filter(
        event_type_ids=["4339"], # Greyhounds
        market_countries=["AU", "NZ"], # Australia
        market_type_codes=["WIN"], # Win Markets
    )

results = trading.betting.list_events(racing_filter)

for i in results:
    print(i.event.id, i.event.name, i.market_count)

results = trading.betting.list_venues(racing_filter)
venues = [v.venue for v in results]
for i in results:
    print(i, i.venue,i.market_count)

results_list = []

for v in venues:
    racing_filter=betfairlightweight.filters.market_filter(
        event_type_ids=["4339"], # Greyhounds
        market_countries=["AU", "NZ"], # Australia
        market_type_codes=["WIN"], # Win Markets
        venues=[v]
    )

    results = trading.betting.list_market_catalogue(
            market_projection=[
                "RUNNER_DESCRIPTION", 
                "RUNNER_METADATA", 
                "COMPETITION", 
                "EVENT", 
                "EVENT_TYPE", 
                "MARKET_DESCRIPTION", 
                "MARKET_START_TIME",
            ],
            filter=racing_filter,
            max_results=110,
        )

    results_list.extend(results)

df_list = []

box_change_list = []
pattern1 = r'(?<=<br>Dog ).+?(?= starts)'
pattern2 = r"(?<=\bbox no. )(\w+)"

for i in results_list:
    print(f"{i.market_id,i.market_name,i.market_start_time.hour, i.market_start_time.minute, i.event.venue,  i.description.market_type} ")
    market_id = i.market_id
    race_num = int(re.sub("[^0-9]", "", i.market_name.split(' ',1)[0] ))
    track =  i.event.venue
    dist = i.market_name.split(' ',2)[0]
    print(race_num)
    if i.description.clarifications:
        print(i.description.clarifications.replace("<br> Dog","<br>Dog"))
        box_change_list.append((track, race_num,i.description.clarifications.replace("<br> Dog","<br>Dog")))

    for dog in i.runners:
        print(f"id = {dog.selection_id}, name = {dog.runner_name.split(' ',1)[1].upper()}")
        df_list.append([market_id, track, dist, race_num, dog.selection_id,dog.runner_name.split('.',1)[0].upper(), dog.runner_name.split(' ',1)[1].upper()])
df = pd.DataFrame(data = df_list, columns=['market_id', 'track', 'dist', 'race_num', 'runner_id','box_bf', 'runnner_name'])

32669152 Warragul (AUS) 28th Sep 12
32669473 Cambridge (NZL) 28th Sep 12
32669217 Mount Gambier (AUS) 28th Sep 12
32669110 Ipswich (AUS) 28th Sep 12
32669350 Sandown Park (AUS) 28th Sep 12
32669095 Casino (AUS) 28th Sep 10
32669111 Warrnambool (AUS) 28th Sep 12
32669125 Albion Park (AUS) 28th Sep 10
32669214 Healesville (AUS) 28th Sep 12
VenueResult Cambridge 12
VenueResult Healesville 12
VenueResult Casino 10
VenueResult Mount Gambier 12
VenueResult Ipswich 12
VenueResult Warragul 12
VenueResult Warrnambool 12
VenueResult Sandown Park 12
VenueResult Albion Park 10
('1.218899722', 'R1 375m C0', 23, 31, 'Cambridge', 'WIN')
1
id = 61070226, name = HIGHVIEW SPOT
id = 61070227, name = ZIPPING ANGIE
id = 61070228, name = LORD ONYX
id = 59147438, name = CENTRAL DIME
id = 61070229, name = SPECIAL LIGHT
id = 60230754, name = GOLD CARD
id = 58371925, name = FAWN OVER YOU
('1.218899724', 'R2 457m C0', 23, 49, 'Cambridge', 'WIN')
2
id = 61070231, name = THRILLING VOLT
id = 60780069, name = THRILLING WILMA
id = 61070233, name = THRILLING CARLOS
id = 61070234, name = THRILLING AGGIE
('1.218899726', 'R3 375m C1', 0, 7, 'Cambridge', 'WIN')
3
id = 42315311, name = OPAWA WEB
id = 39931528, name = ROSA JEWEL
id = 39162358, name = BIG TIME DORY
id = 38093566, name = DOUBLE HEADER
id = 51858219, name = ALEXIS ROSE
id = 59555271, name = LAKE OHIA
id = 51091080, name = PHOTONIC SHADOW
id = 47462774, name = JOE BANANAS
('1.218899728', 'R4 457m C2/3', 0, 25, 'Cambridge', 'WIN')
4
id = 52620993, name = ORSON BLONDE
id = 47441726, name = THRILLING NASH
id = 47335016, name = PERSIAN CHIEF
id = 56322060, name = CUT AND PASTE
id = 49914543, name = THRILLING LEDGER
id = 49513968, name = AUGERO
('1.218899730', 'R5 375m C1', 0, 42, 'Cambridge', 'WIN')
5
id = 40812635, name = GRENADIER PRINCE
id = 50251093, name = SWEET REWARDS
id = 38849263, name = TRIGGERED
id = 40155615, name = BIG TIME TASTY
id = 47842759, name = KAPAI WINSTON
id = 41832373, name = IN THE CLINCH
id = 36898715, name = BOOT CAMP TIARA
id = 40785707, name = OPAWA BARRY
('1.218899732', 'R6 375m C3/4', 1, 0, 'Cambridge', 'WIN')
6
id = 45320661, name = HIGHVIEW TOBY
id = 45191512, name = DYNAMITE BOY
id = 45249465, name = CUT AND DRY
id = 41286479, name = LAGOON TAUPY
id = 42269948, name = RAMBLIN KANE
id = 42011569, name = RAMBLIN HARDY
('1.218899734', 'R7 375m C1', 1, 17, 'Cambridge', 'WIN')
7
<additionalinfo><br>Box changes:<br>Dog 9. Omaticaya starts from box no. 2<br>Dog 10. Opawa Stream starts from box no. 5<br><br>


id = 48756619, name = SWEET AMBER JOY
id = 42445248, name = FRANK CASTLE
id = 45169431, name = GRACE FOOT
id = 56873264, name = BIG TIME KEY
id = 55782383, name = MOTION FIRE
id = 42334249, name = HIGHVIEW BRUCE
id = 52435046, name = OMATICAYA
id = 54974423, name = OPAWA STREAM
('1.218899736', 'R8 457m C4/5', 1, 37, 'Cambridge', 'WIN')
8
id = 50141610, name = ZIPPING DIXIE
id = 42879742, name = BOY KEIDIS
id = 46652970, name = LET LOVE RULE
id = 61070235, name = THRILLING TOMMY
('1.218899738', 'R9 375m C3', 1, 56, 'Cambridge', 'WIN')
9
id = 53532546, name = NO OVERTIME
id = 47637561, name = THRILLING VESPA
id = 42182234, name = HURRICANE BOB
id = 47441728, name = SWEET OFFER
id = 41435648, name = LAR GRAND WYLDE
id = 56322050, name = DAPPER JABBER
id = 50463639, name = OPAWA CODY
('1.218899740', 'R10 375m C2', 2, 12, 'Cambridge', 'WIN')
10
id = 39317948, name = THRILLING WATSON
id = 48426709, name = HOT LITTLE ZEUS
id = 36696563, name = GINGER SHAW
id = 52670931, name = POINSETTIA
id = 42098722, name = NIGHTHAWK STORM
id = 44967031, name = OPAWA RHINO
id = 38276060, name = START BAILING
id = 42527818, name = QUETZAL BALE
('1.218899742', 'R11 375m C5', 2, 31, 'Cambridge', 'WIN')
11
id = 38619064, name = CALF KING
id = 53007935, name = DAISY CLIPPER
id = 46732204, name = SMILE A WHILE
id = 49063984, name = THRILLING MARVEL
id = 53007930, name = MAD PADDY
id = 49040511, name = GOLLY GOSH RAJA
id = 49513963, name = THRILLING CLARA
id = 47530032, name = MINT AS
('1.218899744', 'R12 457m C1', 2, 48, 'Cambridge', 'WIN')
12
id = 61070237, name = THRILLING DODGE
id = 52204861, name = MANZO
id = 61070238, name = MEGA POWER
id = 41540631, name = BIG TIME DOUBLE
id = 46315099, name = IDOL HIT
id = 54974422, name = OPAWA WINE
id = 42413677, name = SOLDIER BLUE
id = 43778610, name = GO ALBINO
('1.218896066', 'R1 300m Mdn', 1, 42, 'Healesville', 'WIN')
1
id = 61070174, name = SEE SPARKS FLY
id = 61070175, name = URANA WHIRLWIND
id = 61070176, name = SNOW ROYALE
id = 61070177, name = MADDIES DOMAIN
id = 61070178, name = PAPER LACED BOY
id = 59995592, name = PACIFIC LILY
id = 56905972, name = WILD PRINTERS
id = 55012317, name = SPIRIT OF PANAMA
('1.218896071', 'R2 300m Mdn', 1, 59, 'Healesville', 'WIN')
2
id = 51477887, name = ONI GEISHA
id = 61070181, name = CONCRETE SAL
id = 57148756, name = SNOW RENAISSANCE
id = 61070182, name = CAPALA
id = 61070183, name = URANA EXPRESS
id = 47208578, name = WHITE SNOW
id = 61070184, name = WICKET MAIDEN
id = 59848448, name = ORIENTAL CRYSTAL
('1.218896076', 'R3 350m Mdn', 2, 19, 'Healesville', 'WIN')
3
id = 59083806, name = URANA LIGHTNING
id = 56290823, name = VINTAGE CANDY
id = 61070187, name = BACKLINE PIE
id = 61070188, name = ANDOS JAE
id = 7385221, name = BLAZING GIRL
id = 55905302, name = COFFEE BUDDIES
id = 57078441, name = MINCHER MAGIC
('1.218896081', 'R4 300m Gr6', 2, 34, 'Healesville', 'WIN')
4
id = 59995599, name = PACIFIC SURF
id = 52149252, name = TASMAN HOPE
id = 55782546, name = SLINGSHOT ROXY
id = 56684714, name = WINSOME SAL
id = 3080695, name = HUNTERS CHOICE
id = 56980190, name = BE LITTLE
id = 44123723, name = SHIMMER SPARKLE
id = 53305971, name = MY HEARTBREAKER
('1.218896086', 'R5 350m Rest', 2, 54, 'Healesville', 'WIN')
5
id = 58961926, name = MISTER SHOEMAN
id = 56452341, name = TWO REASONS
id = 55667229, name = MIGHTY INNINGS
id = 46109129, name = RED RAVEN
id = 57625946, name = INTER SLADE
id = 61070189, name = WREAKING HAVOC
id = 56576811, name = IN THEIR HONOUR
id = 61070190, name = BLAZING LADY
('1.218896091', 'R6 350m Gr5', 3, 9, 'Healesville', 'WIN')
6
<additionalinfo><br>Box changes:<br>Dog 10. Buckle Up starts from box no. 2<br><br>

id = 52643858, name = ELSA JAY
id = 51809020, name = HE MAN
id = 39466160, name = BLACK EYED PEAS
id = 50903975, name = DEVINE SAL
id = 43081269, name = SWEATY HAND
id = 48144784, name = MAGGIE FLYER
id = 45943534, name = DAKODA SUNSET
id = 45758655, name = BUCKLE UP
('1.218896096', 'R7 350m Rest', 3, 37, 'Healesville', 'WIN')
7
id = 61070191, name = DUNBRO BERTIE
id = 48339235, name = SECOND OPINION
id = 48290649, name = BE YOURSELF
id = 12091520, name = FIRE WIRE
id = 58748921, name = PAT PENNY
id = 50168774, name = ROMENA CHARM
id = 58280368, name = CHERRY RED
id = 57078447, name = ASIA
('1.218896101', 'R8 350m Gr5', 3, 57, 'Healesville', 'WIN')
8
id = 54974541, name = EMPRESS SAL
id = 61070192, name = GLORIOUS GLORY
id = 49870539, name = PERFECT SAL
id = 39447728, name = CROWDZA SMILING
id = 40050205, name = NIGERIAN KABOOM
id = 3245883, name = OCEAN STORM
id = 40812594, name = MAVS MAGIC
id = 2190005, name = HIGH REGARD
('1.218896106', 'R9 300m Gr7', 4, 17, 'Healesville', 'WIN')
9
id = 61070193, name = COLOMBO EXPRESS
id = 61070194, name = IMMUNITY IDOL
id = 7132165, name = SPEED MASTER
id = 57186009, name = AUSSIE SAVANNAH
id = 57078439, name = URANA MR ROB
id = 61070195, name = BLITZ
id = 56127057, name = ARABIAN PRINCESS
id = 41234415, name = BRUREE FAIRY
('1.218896111', 'R10 300m Gr5', 4, 37, 'Healesville', 'WIN')
10
id = 55206547, name = INTER CYBORG
id = 40120254, name = SHES THE ONE
id = 51053228, name = CLARA STELLA
id = 46240551, name = INTER ANGELA
id = 47692513, name = SCOOBY GOES BANG
id = 57496699, name = FRIDAY KNOCK OFF
id = 41876504, name = OUR DREAMER
id = 61070196, name = TURBULENT
('1.218896116', 'R11 300m Gr5', 4, 52, 'Healesville', 'WIN')
11
id = 57264241, name = PACIFIC GOLDIE
id = 41818873, name = HASTEN JET
id = 47334912, name = INFRA LADY
id = 51455217, name = SIDEWINDER
id = 51477832, name = LEXI THE STAR
id = 51562396, name = CRANKY BRUCE
id = 50005928, name = MEEHAN MAGPIE
id = 51737433, name = ANDREAS ACE
('1.218896121', 'R12 300m Gr5', 5, 12, 'Healesville', 'WIN')
12
<additionalinfo><br>Box changes:<br>Dog 9. On The Gins starts from box no. 8<br><br>

id = 28178377, name = CLAN MCMILLAN
id = 44038516, name = OUR RASCAL
id = 16257424, name = PROPHET
id = 36620621, name = MY DAD BAZ
id = 57810166, name = GOLDEN COAST
id = 41762146, name = GOTHAM DIVA
id = 51149759, name = BOROUGH PREMIERS
id = 49546990, name = ON THE GINS
('1.218894272', 'R1 300m Mdn', 1, 50, 'Casino', 'WIN')
1
id = 58138840, name = DAVE WHO
id = 61070149, name = SARAHS LORD
id = 58883131, name = DOTTY POCKET
id = 54671429, name = CLOVER FIREBALL
id = 61070150, name = RUSTY REBEL
id = 59887940, name = TICK A BOX
id = 61070151, name = KINGSBRAE MIDGET
id = 54139814, name = SNOW BELLE
('1.218894277', 'R2 300m Gr4', 2, 6, 'Casino', 'WIN')
2
id = 46109159, name = KINGSBRAE MONICA
id = 41989016, name = LEON KINGSBRAE
id = 61070152, name = SANDAVE TOMMY
id = 40346802, name = MADDYS GIRL
id = 41590152, name = ALL RUM
id = 45280096, name = COBBER DUDE
id = 54671433, name = BYE BYE RAMBO
('1.218894282', 'R3 484m Gr5', 2, 25, 'Casino', 'WIN')
3
id = 57884294, name = DOUBLE ME
id = 52204873, name = MCLINTOCK
id = 50663186, name = UNQUENCHABLE
id = 25662750, name = TUMBLING DICE
id = 48672688, name = JUST MUMMULGUM
id = 49949786, name = MAJOR RUST
('1.218894287', 'R4 484m Gr4/5', 2, 44, 'Casino', 'WIN')
4
id = 39690769, name = CHERRY CHUNKER
id = 61070153, name = WATCH THE FRANKY
id = 52148454, name = DOUBLE CHARMING
id = 45998513, name = SHIMA MAGIC
id = 51361536, name = FLY TOM
id = 45823877, name = QUEEN WOK
('1.218894292', 'R5 411m Rest', 3, 2, 'Casino', 'WIN')
5
id = 52204868, name = ROXYS SECRET
id = 57378078, name = SNOW PATROL
id = 40041350, name = FAN COOL UNIT
id = 60780172, name = FICTION
id = 51414481, name = PRECIOUS ME
id = 60491064, name = LIAM BLUEY
id = 61070154, name = KOORINGA RAFAEL
id = 50881244, name = AMBER JACK
('1.218894297', 'R6 411m Rest', 3, 22, 'Casino', 'WIN')
6
id = 47441767, name = BACKLIT BARLEY
id = 61070155, name = PRIMERO
id = 59958125, name = VELOCITY SASHA
id = 56090025, name = FAWN ALL OVER
id = 61070156, name = MY MAC DAN
id = 50168631, name = OKAY KATHY
id = 58635290, name = LUCKY COLOUR
id = 42571130, name = BLAZING BONUS
('1.218894302', 'R7 300m Final', 3, 44, 'Casino', 'WIN')
7
id = 41832462, name = BURRINGBAR BOYS
id = 53408351, name = MY REPUTATION
id = 61070157, name = KOORINGA BOWSER
id = 61070158, name = SECRET GIFT
id = 47637625, name = LUCKY AS BEN
id = 52594954, name = MEGS GIRL
id = 48234885, name = PROSECUTE
id = 51685871, name = HERE TODAY
('1.218894307', 'R8 411m Gr4/5', 4, 9, 'Casino', 'WIN')
8
<additionalinfo><br>Box changes:<br>Dog 9. Dixie Dutton starts from box no. 5<br><br>


id = 47939551, name = MISS DUDETTE
id = 40522503, name = MERCY DASH
id = 48821576, name = SUNSET CHARLIE
id = 50088518, name = CHOOSE WELL
id = 49297645, name = BOMBER STAN
id = 49396519, name = TWISTED EGO
id = 42182223, name = KING CUJO
id = 48794725, name = DIXIE DUTTON
('1.218894312', 'R9 300m Gr5', 4, 27, 'Casino', 'WIN')
9
id = 41477473, name = TRANQUIL LINDY
id = 52148456, name = BOA VISTA
id = 52771236, name = SET SAIL
id = 47112189, name = SPOOKY REBEL
id = 47240748, name = NANGAR PRUE
id = 48459007, name = CASINO DREAM
id = 51936003, name = MISS HURRICANE
id = 41737963, name = BUGATTI FIERCE
('1.218894317', 'R10 300m Gr5', 4, 44, 'Casino', 'WIN')
10
id = 57993606, name = SHINE AND FIRE
id = 47988573, name = NEXT DUDE
id = 55494798, name = MAXINE MAGIC
id = 58313383, name = WISH COME TRUE
id = 54671430, name = VELOCITY ELSIE
id = 61070160, name = PARK UP
id = 52621251, name = BUGATTI REBEL
id = 61070161, name = BUGATTI TALENT
('1.218896226', 'R1 600m S/E', 1, 53, 'Mount Gambier', 'WIN')
1
id = 61070099, name = MASON LAVA
id = 41876506, name = RED IMPACT
id = 46134175, name = CAWBOURNE ATTACK
id = 28396029, name = MAXIMUM REFUSAL
id = 40977305, name = LOCKED
id = 39954751, name = ZIPPING JAZZ
('1.218896231', 'R2 400m Mdn', 2, 9, 'Mount Gambier', 'WIN')
2
<additionalinfo><br>Box changes:<br>Dog 10. Big Earner starts from box no. 4<br><br>

id = 61070100, name = TEXAS ALEXIS
id = 61070101, name = MISTER CADILLAC
id = 58371970, name = SIR TOM
id = 61070103, name = MR TANDIKI
id = 61070104, name = ALICE EXPRESS
id = 61070106, name = BIG EARNER
('1.218896236', 'R3 305m Mdn', 2, 28, 'Mount Gambier', 'WIN')
3
id = 60491129, name = LITA THE BRUTE
id = 58371961, name = PAW SOME GUNTHER
id = 61070107, name = CAWBOURNE KIKI
id = 59280146, name = TEXT PEST
id = 60348069, name = GREGOR THE BRUTE
id = 61070108, name = GOLDEN WONDER
('1.218896241', 'R4 305m Rest', 2, 47, 'Mount Gambier', 'WIN')
4
id = 51616249, name = CHASING BARBIE
id = 47334940, name = BUNGALOO BROOKE
id = 60491126, name = LEAPING GAZELLE
id = 60949069, name = BIG DEB OSTI
id = 61070110, name = ALS ESTAFANIA
id = 55415363, name = CAWBOURNE ECHO
id = 54518726, name = REMO TRIGGER
id = 58177110, name = RISE AS ONE
('1.218896246', 'R5 400m Rest', 3, 6, 'Mount Gambier', 'WIN')
5
<additionalinfo><br>Box changes:<br>Dog 9. Pats Star starts from box no. 4<br><br>

id = 52670895, name = YADILLAH SON
id = 52545994, name = YADILLAH LAD
id = 50088560, name = COOKIE BALE
id = 60348071, name = CADILLAC LANDAU
id = 61070112, name = FEDERAL COMMAND
id = 56606741, name = ACOUSTIC FLASH
id = 52436132, name = CADILLAC BURNS
id = 51391834, name = PATS STAR
('1.218896251', 'R6 400m N/G', 3, 26, 'Mount Gambier', 'WIN')
6
id = 45629142, name = LATE MAIL
id = 53532671, name = COMPTON YAP
id = 45348090, name = SHELL CITY
id = 42651642, name = SAINT OLLIE
id = 47017034, name = MOCAMBORA IZZA
id = 45823955, name = HOT CADILLAC
id = 41844316, name = CRUSOE KID
id = 39066802, name = ANOTHER CADILLAC
('1.218896256', 'R7 512m Rest', 3, 47, 'Mount Gambier', 'WIN')
7
id = 50713703, name = CAWBOURNE GIA
id = 43493120, name = DR FOREST
id = 51717776, name = SAINT MILLY
id = 53914393, name = JUST PADDY
id = 49949828, name = CAWBOURNE SUNNY
id = 60780184, name = PAT THE RAT
id = 44994337, name = CAWBOURNE BAXTER
id = 43351486, name = MOONLIGHT JACK
('1.218896261', 'R8 512m Rest', 4, 3, 'Mount Gambier', 'WIN')
8
id = 54404105, name = CAWBOURNE DIOR
id = 51455227, name = SAINT MADIX
id = 58748809, name = SWEET LYNETTE
id = 60607775, name = IRRIGATION
id = 55458468, name = LEKTRA RINGO
id = 53448415, name = QUICK GYPSY
id = 49514063, name = CADILLAC LLOYD
('1.218896266', 'R9 512m N/G', 4, 24, 'Mount Gambier', 'WIN')
9
id = 41962273, name = MYALL HIKER
id = 47530036, name = FOUR LONGNECKS
id = 42062837, name = LEKTRA SAMMY
id = 47366172, name = LANA INTENTION
id = 48552938, name = HONEY ROCKS
id = 48458971, name = CADILLAC ROCKS
id = 44758558, name = CADILLAC PATCH
('1.218896271', 'R10 400m Rest', 4, 49, 'Mount Gambier', 'WIN')
10
id = 61070115, name = QUICK CADILLAC
id = 59280144, name = COMPTON SPECIAL
id = 61070116, name = CADILLAC QUEEN
id = 59812669, name = LORELLE SOLDIER
id = 47760400, name = KUMANI SAPPHIRE
id = 49088105, name = RASPBERRY KISS
id = 56980086, name = PAW SOME SHADE
id = 56450993, name = MINI TO BURN
('1.218896276', 'R11 400m Rest', 5, 7, 'Mount Gambier', 'WIN')
11
id = 51835158, name = FRIED GIBLET
id = 52354058, name = COSMIC LEILANI
id = 52436136, name = CADILLAC BEAST
id = 56089943, name = BRIDGEWATER LYN
id = 58371973, name = RAGNAR BOY
id = 61070117, name = MOE THEM DOWN
id = 56728256, name = AVATAR TO BURN
id = 61070118, name = PACE TO BURN
('1.218896281', 'R12 400m Rest', 5, 24, 'Mount Gambier', 'WIN')
12
id = 59888136, name = WASTING TIME
id = 50788285, name = GYPSY TONY
id = 61070119, name = FLYING MADELINE
id = 58569685, name = MJOLNIR TO BURN
id = 61070120, name = MOCAMBORA MIA
id = 47530037, name = ZIPPY CADILLAC
id = 48049010, name = ARROW BAR TEDDY
('1.218894508', 'R1 288m M5', 2, 22, 'Ipswich', 'WIN')
1
id = 40410597, name = GOLDEN CREST
id = 43747003, name = MISS SAN CISCO
id = 38276031, name = KINLOCH CHARM
id = 39161922, name = DAYSEAS TRUDIE
id = 39047668, name = AKAROA
id = 3764323, name = DUSTY BOOTS
id = 42202143, name = JENS GAMBLE
id = 41997804, name = JUST SLICK
('1.218894513', 'R2 288m M5', 2, 41, 'Ipswich', 'WIN')
2
id = 47017037, name = ULTIMATE BOOST
id = 58177267, name = CARDINAL MYRTLE
id = 46968424, name = CLOVER ENERGY
id = 40762321, name = KATARA LOVE
id = 59006964, name = GALWAY DUCHESS
id = 37481383, name = GOOD CHAT MORT
id = 46968425, name = UNLIMITED TERROR
id = 39508233, name = SHADOW GLEN
('1.218894518', 'R3 288m Heat', 2, 59, 'Ipswich', 'WIN')
3
id = 52467634, name = JAM TOAST
id = 57496559, name = PATS BIG BOY
id = 47148643, name = SIMMERING
id = 61070086, name = SLEEK LILLY
id = 42077660, name = FINE AND FABIO
id = 56017477, name = SHES ON TIME
id = 46055735, name = MY NINJA
id = 58494668, name = BLACK PARADE
('1.218894523', 'R4 288m Heat', 3, 15, 'Ipswich', 'WIN')
4
id = 48553015, name = FLYING BROCKIE
id = 49396360, name = SNEAKY JIM
id = 47366317, name = ALWAYS BROKE
id = 43817574, name = TUTA YANKEE
id = 49396536, name = IMPETUOUS LAD
id = 58635281, name = ANNIKA MAC
id = 52436148, name = PEYTONS WISH
id = 47334895, name = SPRITELY GLENNIS
('1.218894528', 'R5 288m Gr5', 3, 34, 'Ipswich', 'WIN')
5
id = 61070087, name = REFERENT
id = 57593752, name = COAL ISLAND
id = 41844488, name = MAJOR LOOK
id = 57306058, name = FARMOR FIRED UP
id = 53052985, name = SARAS TIGER
id = 54777920, name = AUSTRIAN JEWEL
id = 54340104, name = MASTER BARCIA
id = 47611456, name = SANTA MARIA
('1.218894533', 'R6 288m Gr4/5', 3, 50, 'Ipswich', 'WIN')
6
id = 49183932, name = SIDS MATE
id = 42139455, name = NOAKI CRUISE
id = 36709136, name = BREAK AND ENTER
id = 52594842, name = LIPPY KID
id = 39369649, name = HEAD ON BONNIE
id = 44736396, name = CLAWFOOT
id = 53149041, name = IN A SLIPSTREAM
id = 49684956, name = INDIGO DESTROYER
('1.218894538', 'R7 288m Gr3/4', 4, 14, 'Ipswich', 'WIN')
7
id = 39670724, name = ROUGH SYSTEM
id = 55165766, name = BEMBOKA BLUE
id = 40950636, name = LAURIES GEM
id = 37298318, name = BABYLON BOOMERS
id = 47988735, name = SPECIFIED
id = 44342843, name = HEY FEMANDO
id = 53883625, name = CHEERS
id = 42860406, name = NOAKI NIPPER
('1.218894543', 'R8 288m FFA', 4, 32, 'Ipswich', 'WIN')
8
id = 42688742, name = LIGHTNING COMET
id = 54671490, name = BE DESIRED
id = 40880263, name = LAURIES JESS
id = 47039981, name = CHAMPAGNE IVY
id = 52621249, name = STAR VEGA
id = 43066452, name = ALVEY
id = 39279020, name = HOOKED ON HENRY
id = 2157259, name = HES SO COOL
('1.218894548', 'R9 288m Heat', 4, 57, 'Ipswich', 'WIN')
9
id = 59918038, name = FARMOR SHALLOW
id = 40928439, name = ZIPPING MIAMI
id = 8791115, name = GO KATIE GO
id = 51736762, name = SIRIUS KYLE
id = 43154575, name = BORDER ISSUES
id = 44855563, name = YALUMBA
id = 36484296, name = TUTA ROSE
id = 47148703, name = ELUSIVE EMMA
('1.218894553', 'R10 288m Heat', 5, 15, 'Ipswich', 'WIN')
10
id = 42425017, name = MY GAL COOKIE
id = 48199101, name = JUNGLE DUKE
id = 56173657, name = COSMIC SHADOW
id = 39787528, name = SEPTIMO
id = 54403999, name = FARMOR INTRUSION
id = 42676873, name = LAURIES SPARK
id = 48590858, name = CONAIR
id = 52937478, name = MALLANGANEE MISS
('1.218894558', 'R11 288m Heat', 5, 32, 'Ipswich', 'WIN')
11
id = 50195490, name = GRUMPY MOOSE
id = 40535592, name = ALLEGRETTO
id = 58138950, name = FARMOR TOO COME
id = 55206481, name = CHAINSAW RICKY
id = 44913535, name = SPRITELY OLIVE
id = 2885390, name = WALLYS BOY
id = 51576248, name = BLOWIN A TUNE
id = 57078406, name = SEE IT ROCK
('1.218894563', 'R12 288m Heat', 5, 49, 'Ipswich', 'WIN')
12
id = 47112138, name = ZAMBROCK
id = 42730710, name = TUTA DELTA
id = 48553066, name = JIMARY TEXAS
id = 53946969, name = LADY MCBETH
id = 56838236, name = INDIAN HEAT
id = 59995621, name = STEELY NIGHTS
id = 48590949, name = MAJESTIC SHOT
id = 49660512, name = SHES A CRACKER
('1.218895575', 'R1 460m Mdn', 5, 4, 'Warragul', 'WIN')
1

In [50]:
tracks_FT = prediction_df.Track.unique()
tracks_FT

array(['Traralgon', 'Geelong', 'Healesville', 'Bendigo', 'Wanganui',
       'The Gardens', 'Richmond', 'Wagga Wagga', 'Christchurch',
       'Goulburn', 'Ipswich', 'Rockhampton', 'Cannington',
       'Murray Bridge'], dtype=object)

In [5]:
box_change_list

[('Ipswich',
  7,
  '<additionalinfo><br>Box changes:<br>Dog 9. Black Monaro starts from box no. 5<br><br>'),
 ('Ipswich',
  8,
  '<additionalinfo><br>Box changes:<br>Dog 10. Woosnam starts from box no. 2<br><br>'),
 ('Townsville',
  2,
  '<additionalinfo><br>Box changes:<br>Dog 9. Mr Gledhill starts from box no. 3<br><br>'),
 ('Townsville',
  5,
  '<additionalinfo><br>Box changes:<br>Dog 9. Dam Slipperiest starts from box no. 5<br>Dog 10. Denim starts from box no. 7<br><br>\n\n'),
 ('Townsville',
  12,
  '<additionalinfo><br>Box changes:<br>Dog 9. Ryans Pick starts from box no. 2<br><br>'),
 ('Gosford',
  1,
  '<additionalinfo><br>Box changes:<br>Dog 9. Butterwick starts from box no. 6<br><br>\n\n'),
 ('Gosford',
  4,
  '<additionalinfo><br>Box changes:<br>Dog 9. Jungle George starts from box no. 4<br><br>'),
 ('Gosford',
  11,
  '<additionalinfo><br>Box changes:<br>Dog 9. Mickey Roy starts from box no. 2<br><br>'),
 ('Cannington',
  5,
  '<additionalinfo><br>Box changes:<br>Dog 9. Jonah Gundi starts from box no. 5<br><br>\n\n'),
 ('Cannington',
  6,
  '<additionalinfo><br>Box changes:<br>Dog 10. Zulu Venus starts from box no.1<br><br>\n\n'),
 ('Cannington',
  12,
  '<additionalinfo><br>Box changes:<br>Dog 9. Wise Dohne starts from box no. 6<br><br>')]

In [52]:
box_change_list[0][2].split('<br>')

['<additionalinfo>',
 'Box changes:',
 'Dog 9. Bill Buster starts from box no. 4',
 'Dog 10. Opawa Stream starts from box no. 6',
 '',
 '\n\n']

In [53]:
races_ft_df = df[['track','race_num', 'box_bf']].copy()
races_ft_df.columns = ['Track', 'RaceNum', 'RaceBox']
races_ft_df.replace('Wagga','Wagga Wagga',inplace = True)
races_ft_df.replace('Manawatu','Palmerston North',inplace = True)
races_ft_df.replace('Manukau','Waikato',inplace = True)
races_ft_df.replace('Addington','Christchurch',inplace = True)
races_ft_df.replace('Hatrick','Wanganui',inplace = True)


if 'Richmond Straight' in tracks_FT:
    races_ft_df.replace('Richmond','Richmond Straight',inplace = True)
    print("replacing richmond")

#

In [54]:
races_ft_df

             Track  RaceNum RaceBox
0     Christchurch        1       1
1     Christchurch        1       2
2     Christchurch        1       3
3     Christchurch        1       5
4     Christchurch        1       7
...            ...      ...     ...
1111      Richmond       12       4
1112      Richmond       12       5
1113      Richmond       12       6
1114      Richmond       12       7
1115      Richmond       12       8

[1116 rows x 3 columns]

In [55]:
races_ft_df.RaceBox = pd.to_numeric(races_ft_df.RaceBox)

In [56]:
# box_change_df.string[8]

In [57]:
box_change_df = pd.DataFrame.from_records(box_change_list, columns = ['Track', 'RaceNum', 'string'])
#box_change_df.drop(index=0, inplace=True)
box_change_df.replace('Wagga','Wagga Wagga',inplace = True)
box_change_df.replace('Manawatu','Palmerston North',inplace = True)
box_change_df.replace('Manukau','Waikato',inplace = True)
box_change_df.replace('Addington','Christchurch',inplace = True)
box_change_df = box_change_df[~(box_change_df['string']=='  ')]
box_change_df['runner_name'] = box_change_df['string'].apply(lambda x: regexp_tokenize(x, pattern1)[0])
box_change_df['runner_name_2'] = box_change_df['string'].apply(lambda x: regexp_tokenize(x, pattern1)[-1])
box_change_df

,Track,RaceNum,string,runner_name,runner_name_2
0,Christchurch,1,<additionalinfo><br>Box changes:<br>Dog 9. Bil...,9. Bill Buster,10. Opawa Stream
1,Healesville,2,<additionalinfo><br>Box changes:<br>Dog 10. Mt...,10. Mt View Bentley,10. Mt View Bentley
2,Healesville,11,<additionalinfo><br>Box changes:<br>Dog 10. Mi...,10. Milo Rose,10. Milo Rose
3,Goulburn,2,<additionalinfo><br>Box changes:<br>Dog 9. Bla...,9. Blackpool Buddy,9. Blackpool Buddy
4,Goulburn,4,<additionalinfo><br>Box changes:<br>Dog 9. Zip...,9. Zipping Pip,9. Zipping Pip
5,Goulburn,8,<additionalinfo><br>Box changes:<br>Dog 9. Win...,9. Winlock Flowers,9. Winlock Flowers
6,Ipswich,1,<additionalinfo><br>Box changes:<br>Dog 9. Est...,9. Estonian Lady,10. Mister Mischief
7,Hatrick,1,<additionalinfo><br>Box changes:<br>Dog 9. Big...,9. Big Time Shred,9. Big Time Shred
8,Hatrick,10,<additionalinfo><br>Box changes:<br>Dog 9. All...,9. Allegro Bandit,9. Allegro Bandit
9,The Gardens,11,<additionalinfo><br>Box changes:<br>Dog 9. Elu...,9. Elusive Catch,9. Elusive Catch
10,Rockhampton,1,<additionalinfo><br>Box changes:<br>Dog 9. Lit...,9. Little Hercules,9. Little Hercules
11,Rockhampton,3,<additionalinfo><br>Box changes:<br>Dog 9. Bur...,9. Burnt Me,9. Burnt Me
12,Rockhampton,7,<additionalinfo><br>Box changes:<br>Dog 9. Dad...,9. Dads News,9. Dads News
13,Rockhampton,9,<additionalinfo><br>Box changes:<br>Dog 9. Tar...,9. Tarawi Opal,9. Tarawi Opal
14,Rockhampton,10,<additionalinfo><br>Box changes:<br>Dog 9. Bla...,9. Black Baccara,10. Akimbo
15,Rockhampton,12,<additionalinfo><br>Box changes:<br>Dog 9. Sca...,9. Scandalise,9. Scandalise
16,Bendigo,5,<additionalinfo><br>Box changes:<br>Dog 10. Na...,10. Naomi Butterfly,10. Naomi Butterfly
17,Bendigo,12,<additionalinfo><br>Box changes:<br>Dog 9. Lal...,9. Lala Santa,9. Lala Santa
18,Traralgon,2,<additionalinfo><br>Box changes:<br>Dog 9. Dr ...,9. Dr Delana,9. Dr Delana
19,Wagga Wagga,1,<additionalinfo><br>Box changes:<br>Dog 9. Caw...,9. Cawbourne Gordie,10. Slick Zulu
20,Geelong,6,<additionalinfo><br>Box changes:<br>Dog 9. Att...,9. Atticus Bale,9. Atticus Bale
21,Geelong,10,<additionalinfo><br>Box changes:<br>Dog 9. Fab...,9. Fabs Wasabi,10. Jolly Johnny
22,Geelong,11,<additionalinfo><br>Box changes:<br>Dog 9. Bos...,9. Boston Garden,9. Boston Garden
23,Geelong,12,<additionalinfo><br>Box changes:<br>Dog 9. Sho...,9. Shogun Warlord,9. Shogun Warlord
24,Richmond,1,<additionalinfo><br>Box changes:<br>Dog 9. Die...,9. Diesels Shadow,9. Diesels Shadow
25,Richmond,8,<additionalinfo><br>Box changes:<br>Dog 9. Sty...,9. Stylish Shamrock,9. Stylish Shamrock

In [67]:
box_change_df = pd.DataFrame.from_records(box_change_list, columns = ['Track', 'RaceNum', 'string'])
#box_change_df.drop(index=0, inplace=True)
box_change_df = box_change_df[~(box_change_df['string']==' ')]
box_change_df.replace('Wagga','Wagga Wagga',inplace = True)
box_change_df.replace('Manawatu','Palmerston North',inplace = True)
box_change_df.replace('Manukau','Waikato',inplace = True)
box_change_df.replace('Addington','Christchurch',inplace = True)
box_change_df.replace('Hatrick','Wanganui',inplace = True)
box_change_df = box_change_df[~(box_change_df['string']=='  ')]
box_change_df['runner_name'] = box_change_df['string'].apply(lambda x: regexp_tokenize(x, pattern1)[0])
box_change_df['runner_name'] = box_change_df['string'].apply(lambda x: regexp_tokenize(x, pattern1)[0])
box_change_df['runner_name_2'] = box_change_df['string'].apply(lambda x: regexp_tokenize(x, pattern1)[-1])

box_change_df['runner_number'] = box_change_df['runner_name'].apply(lambda x: x[:(x.find(" ") - 1)].upper())
box_change_df['runner_name'] = box_change_df['runner_name'].apply(lambda x: x[(x.find(" ") + 1):].upper())
box_change_df['RaceBox'] = pd.to_numeric(box_change_df['string'].apply(lambda x: regexp_tokenize(x, pattern2)[0]))
prediction_df.RaceNum = pd.to_numeric(prediction_df.RaceNum)
prediction_df.RaceBox = pd.to_numeric(prediction_df.RaceBox)
prediction_df = prediction_df.reset_index(drop=True).set_index(['Track', 'RaceNum', 'RaceBox'])
prediction_df = prediction_df.drop(index=list(box_change_df[['Track','RaceNum','RaceBox']].itertuples(index=False)), errors='ignore').reset_index()
prediction_df = prediction_df.merge(races_ft_df, on=['Track', 'RaceNum', 'RaceBox'])
merged = prediction_df.merge(how='left', right=box_change_df, right_on=['runner_name', 'RaceNum'], left_on=['DogName', 'RaceNum'])
merged['Box'] = merged.apply(lambda x: int(x['box']) if np.isnan(x['RaceBox_y']) else int(x['RaceBox_y']), axis =1)
merged['race_time'] = pd.to_datetime(merged['RaceTime'])
new_form = merged[merged['Box']<=8][['Track_x','State','DogId','DogName','DogGrade', 'RaceId','Distance', 'Date', 'Box','race_time','RaceNum']].rename(columns={'Track_x':'Track', 'RaceNum':'race_num'})

In [68]:
new_form

,Track,State,DogId,DogName,DogGrade,RaceId,Distance,Date,Box,race_time,race_num
0,Traralgon,VIC,709053782,REMO ADALLI,M,892806553,395m,21 Apr 23,1,2023-04-21 18:52:00,1
1,Traralgon,VIC,684480231,DARLINGTON MISS,M,892806553,395m,21 Apr 23,2,2023-04-21 18:52:00,1
2,Traralgon,VIC,714641938,SWOOPING SWAN,M,892806553,395m,21 Apr 23,3,2023-04-21 18:52:00,1
3,Traralgon,VIC,697264252,INDY,M,892806553,395m,21 Apr 23,4,2023-04-21 18:52:00,1
4,Traralgon,VIC,570983688,VICTORY BAZOOKA,M,892806553,395m,21 Apr 23,5,2023-04-21 18:52:00,1
...,...,...,...,...,...,...,...,...,...,...,...
1111,Murray Bridge,SA,575326859,MANUKA BOY,5,889068557,395m,21 Apr 23,1,2023-04-21 18:04:00,10
1112,Murray Bridge,SA,566432154,TERRIFIC MOLLY,5,889068557,395m,21 Apr 23,2,2023-04-21 18:04:00,10
1113,Murray Bridge,SA,640219897,KANJI SERVICE,5,889068557,395m,21 Apr 23,4,2023-04-21 18:04:00,10
1114,Murray Bridge,SA,620539155,PARAMOUNT ROSE,6,889068557,395m,21 Apr 23,5,2023-04-21 18:04:00,10
1115,Murray Bridge,SA,461114942,SON OF HAKA,5,889068557,395m,21 Apr 23,8,2023-04-21 18:04:00,10

In [69]:
box_change_df

,Track,RaceNum,string,runner_name,runner_name_2,runner_number,RaceBox
0,Christchurch,1,<additionalinfo><br>Box changes:<br>Dog 9. Bil...,BILL BUSTER,10. Opawa Stream,9,4
1,Healesville,2,<additionalinfo><br>Box changes:<br>Dog 10. Mt...,MT VIEW BENTLEY,10. Mt View Bentley,10,5
2,Healesville,11,<additionalinfo><br>Box changes:<br>Dog 10. Mi...,MILO ROSE,10. Milo Rose,10,2
3,Goulburn,2,<additionalinfo><br>Box changes:<br>Dog 9. Bla...,BLACKPOOL BUDDY,9. Blackpool Buddy,9,2
4,Goulburn,4,<additionalinfo><br>Box changes:<br>Dog 9. Zip...,ZIPPING PIP,9. Zipping Pip,9,7
5,Goulburn,8,<additionalinfo><br>Box changes:<br>Dog 9. Win...,WINLOCK FLOWERS,9. Winlock Flowers,9,6
6,Ipswich,1,<additionalinfo><br>Box changes:<br>Dog 9. Est...,ESTONIAN LADY,10. Mister Mischief,9,4
7,Wanganui,1,<additionalinfo><br>Box changes:<br>Dog 9. Big...,BIG TIME SHRED,9. Big Time Shred,9,8
8,Wanganui,10,<additionalinfo><br>Box changes:<br>Dog 9. All...,ALLEGRO BANDIT,9. Allegro Bandit,9,2
9,The Gardens,11,<additionalinfo><br>Box changes:<br>Dog 9. Elu...,ELUSIVE CATCH,9. Elusive Catch,9,5
10,Rockhampton,1,<additionalinfo><br>Box changes:<br>Dog 9. Lit...,LITTLE HERCULES,9. Little Hercules,9,4
11,Rockhampton,3,<additionalinfo><br>Box changes:<br>Dog 9. Bur...,BURNT ME,9. Burnt Me,9,4
12,Rockhampton,7,<additionalinfo><br>Box changes:<br>Dog 9. Dad...,DADS NEWS,9. Dads News,9,5
13,Rockhampton,9,<additionalinfo><br>Box changes:<br>Dog 9. Tar...,TARAWI OPAL,9. Tarawi Opal,9,8
14,Rockhampton,10,<additionalinfo><br>Box changes:<br>Dog 9. Bla...,BLACK BACCARA,10. Akimbo,9,5
15,Rockhampton,12,<additionalinfo><br>Box changes:<br>Dog 9. Sca...,SCANDALISE,9. Scandalise,9,8
16,Bendigo,5,<additionalinfo><br>Box changes:<br>Dog 10. Na...,NAOMI BUTTERFLY,10. Naomi Butterfly,10,5
17,Bendigo,12,<additionalinfo><br>Box changes:<br>Dog 9. Lal...,LALA SANTA,9. Lala Santa,9,5
18,Traralgon,2,<additionalinfo><br>Box changes:<br>Dog 9. Dr ...,DR DELANA,9. Dr Delana,9,8
19,Wagga Wagga,1,<additionalinfo><br>Box changes:<br>Dog 9. Caw...,CAWBOURNE GORDIE,10. Slick Zulu,9,1
20,Geelong,6,<additionalinfo><br>Box changes:<br>Dog 9. Att...,ATTICUS BALE,9. Atticus Bale,9,5
21,Geelong,10,<additionalinfo><br>Box changes:<br>Dog 9. Fab...,FABS WASABI,10. Jolly Johnny,9,6
22,Geelong,11,<additionalinfo><br>Box changes:<br>Dog 9. Bos...,BOSTON GARDEN,9. Boston Garden,9,5
23,Geelong,12,<additionalinfo><br>Box changes:<br>Dog 9. Sho...,SHOGUN WARLORD,9. Shogun Warlord,9,3
24,Richmond,1,<additionalinfo><br>Box changes:<br>Dog 9. Die...,DIESELS SHADOW,9. Diesels Shadow,9,6
25,Richmond,8,<additionalinfo><br>Box changes:<br>Dog 9. Sty...,STYLISH SHAMROCK,9. Stylish Shamrock,9,5

In [70]:
importlib.reload(featurecreations)
test_out = featurecreations.generate_prediction_dataframe_v2('results-df-merged-prices_cut.fth', new_form, simple=True)
print(f"input size = {len(test_out['stats'][0])}")

fin 1
['dist_last__1', 'box_last__1', 'speed_avg_1', 'split_speed_avg_1', 'split_margin_avg_1', 'margin_avg_1', 'first_out_avg_1', 'post_change_avg_1', 'races_1', 'wins_1', 'weight_', 'min_time_', 'min_split_time_', 'last_start_price']
input size = 20

In [71]:
new_form.Track.value_counts()

Healesville      96
Rockhampton      95
Bendigo          91
The Gardens      91
Richmond         91
Christchurch     90
Ipswich          90
Geelong          88
Wagga Wagga      84
Wanganui         80
Goulburn         78
Traralgon        76
Murray Bridge    59
Name: Track, dtype: int64

In [72]:
test_out.columns

Index(['dogid', 'dog_name', 'raceid', 'race_num', 'race_grade', 'date',
       'race_time', 'trackOHE', 'track_name', 'state', 'track_code', 'dist',
       'bfSP', 'runtime', 'prev_race', 'prev_race_date', 'prev_race_track',
       'place', 'margin', 'box', 'stats'],
      dtype='object')

In [73]:
test_out = test_out[test_out['raceid'].isin( new_form['RaceId'])]
with open(f"testing new outs simple {today}.npy", 'wb') as f:
    x = (test_out, ['speed_avg_1', 'speed_max_1', 'split_speed_avg_1', 'split_speed_max_1', 'split_margin_avg_1', 'margin_avg_1', 'first_out_avg_1', 'post_change_avg_1', 'races_1', 'wins_1'])
    pickle.dump(x, f)

In [74]:
len(test_out.stats.iloc[0])

20

In [75]:
['speed_avg_1', 'split_speed_avg_1', 'split_margin_avg_1', 'margin_avg_1', 'first_out_avg_1', 'post_change_avg_1', 'races_1', 'wins_1', 'weight_', 'min_time_', 'min_split_time_']
['speed_avg_1', 'split_speed_avg_1', 'split_margin_avg_1', 'margin_avg_1', 'first_out_avg_1', 'post_change_avg_1', 'races_1', 'wins_1', 'weight_', 'min_time_', 'min_split_time_']
['speed_avg_1', 'speed_max_1', 'split_speed_avg_1', 'split_speed_max_1', 'split_margin_avg_1', 'margin_avg_1', 'first_out_avg_1', 'post_change_avg_1', 'races_1', 'wins_1']

['speed_avg_1',
 'speed_max_1',
 'split_speed_avg_1',
 'split_speed_max_1',
 'split_margin_avg_1',
 'margin_avg_1',
 'first_out_avg_1',
 'post_change_avg_1',
 'races_1',
 'wins_1']