In [1]:
import pickle
import pandas as pd
import os
import torch

import betfairlightweight
from betfairlightweight import filters
from datetime import datetime
from datetime import timedelta
from dateutil import tz
import math
import numpy as np
import pandas as pd
from scipy.stats import zscore
from sklearn.linear_model import LogisticRegression
import fasttrack as ft
import importlib
import featurecreations

# Import libraries for logging in
from flumine import Flumine, clients
from flumine import BaseStrategy 
from flumine.order.trade import Trade
from flumine.order.order import LimitOrder, OrderStatus
from flumine.markets.market import Market
from betfairlightweight.resources import MarketBook
from flumine.streams.datastream import DataStream
import logging 
import re

from nltk.tokenize import regexp_tokenize

<frozen importlib._bootstrap>:228: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

In [2]:
seckey = "50efd775-e988-4be3-924f-87631fabdc3f"
greys = ft.Fasttrack(seckey)
today = datetime.today().strftime('%Y-%m-%d')

race_details, dog_results = greys.getBasicFormat(today, dt_end=today)
race_details = race_details[['@id', 'RaceNum', 'Distance', 'Date','RaceTime', 'RaceName', 'RaceGrade', 'Track', 'State']]
race_details['RaceId'] = race_details['@id']
dog_results = dog_results[['@id', 'RaceBox', 'DogName', 'RaceId', 'DogGrade']]
dog_results['DogId'] = dog_results['@id']
dog_results['box'] = dog_results['RaceBox']

prediction_df = pd.merge(dog_results,race_details, how='left', on='RaceId')
prediction_df.DogName = prediction_df.DogName.apply(lambda x: x.replace("'", "").replace(".", "").replace("Res", "").strip())

# x = featurecreations.generate_prediction_dataframe(r"./DATA/all-results-db.npy", prediction_df)

# x.to_pickle(f'prediction_input {today}.npy')

Valid Security Key
Getting meets for each date ..

100%|██████████| 1/1 [00:00<00:00,  2.12it/s]

Getting dog lineups ..

100%|██████████| 12/12 [00:08<00:00,  1.39it/s]

In [3]:
# Credentials to login and logging in 
trading = betfairlightweight.APIClient('nickbarlow@live.com.au','76ff98a6',app_key='JFWqJHqB4Akfi5hK')
client = clients.BetfairClient(trading, interactive_login=True)

# Login
framework = Flumine(client=client)

trading.login_interactive()

racing_filter=betfairlightweight.filters.market_filter(
        event_type_ids=["4339"], # Greyhounds
        # market_countries=["AU"], # Australia
        market_type_codes=["WIN"], # Win Markets
    )

results = trading.betting.list_events(racing_filter)

for i in results:
    print(i.event.id, i.event.name, i.market_count)

results = trading.betting.list_venues(racing_filter)
venues = [v.venue for v in results]
for i in results:
    print(i, i.venue,i.market_count)

results_list = []

for v in venues:
    racing_filter=betfairlightweight.filters.market_filter(
        event_type_ids=["4339"], # Greyhounds
        market_countries=["AU"], # Australia
        market_type_codes=["WIN"], # Win Markets
        venues=[v]
    )

    results = trading.betting.list_market_catalogue(
            market_projection=[
                "RUNNER_DESCRIPTION", 
                "RUNNER_METADATA", 
                "COMPETITION", 
                "EVENT", 
                "EVENT_TYPE", 
                "MARKET_DESCRIPTION", 
                "MARKET_START_TIME",
            ],
            filter=racing_filter,
            max_results=110,
        )

    results_list.extend(results)

df_list = []

box_change_list = []
pattern1 = r'(?<=<br>Dog ).+?(?= starts)'
pattern2 = r"(?<=\bbox no. )(\w+)"

for i in results_list:
    print(f"{i.market_id,i.market_name,i.market_start_time.hour, i.market_start_time.minute, i.event.venue,  i.description.market_type} ")
    market_id = i.market_id
    race_num = int(re.sub("[^0-9]", "", i.market_name.split(' ',1)[0] ))
    track =  i.event.venue
    dist = i.market_name.split(' ',2)[0]
    print(race_num)
    if i.description.clarifications:
        print(i.description.clarifications.replace("<br> Dog","<br>Dog"))
        box_change_list.append((track, race_num,i.description.clarifications.replace("<br> Dog","<br>Dog")))

    for dog in i.runners:
        print(f"id = {dog.selection_id}, name = {dog.runner_name.split(' ',1)[1].upper()}")
        df_list.append([market_id, track, dist, race_num, dog.selection_id,dog.runner_name.split('.',1)[0].upper(), dog.runner_name.split(' ',1)[1].upper()])
df = pd.DataFrame(data = df_list, columns=['market_id', 'track', 'dist', 'race_num', 'runner_id','box_bf', 'runnner_name'])

32253485 Richmond (AUS) 9th Apr 8
32253807 Pelaw Grange 9th Apr 10
32253481 Grafton (AUS) 9th Apr 10
32253834 Harlow 9th Apr 12
32253355 Broken Hill (AUS) 9th Apr 11
32248771 Mullingar 9th Apr 10
32253948 Harlow 9th Apr 12
32253916 Henlow 9th Apr 11
32253432 Darwin (AUS) 9th Apr 8
32253817 Doncaster 9th Apr 12
32253850 Sunderland 9th Apr 12
32253339 Gawler (AUS) 9th Apr 9
32253942 Kinsley 9th Apr 12
32253431 Cannington (AUS) 9th Apr 12
32253872 Towcester 9th Apr 14
32253425 Sandown Park (AUS) 9th Apr 6
32253905 Central Park 9th Apr 11
VenueResult Gawler 9
VenueResult Grafton 10
VenueResult Broken Hill 11
VenueResult Cannington 12
VenueResult Sandown Park 6
VenueResult Richmond 8
VenueResult Doncaster 12
VenueResult Darwin 8
VenueResult Harlow 24
VenueResult Sunderland 12
VenueResult Pelaw Grange 10
VenueResult Towcester 14
VenueResult Central Park 11
VenueResult Mullingar 10
VenueResult Henlow 11
VenueResult Kinsley 12
('1.212568376', 'R4 400m Gr6', 8, 34, 'Gawler', 'WIN')
4
id = 53858247, name = SO BE IT
id = 51009950, name = LONG GULLY GIN
id = 48710479, name = SILK SONIC
id = 40867878, name = OVER THE BRIDGE
id = 45823952, name = ETERNAL TEN
id = 44365169, name = JALAPENO LAD
id = 53448356, name = IRENE
id = 36620383, name = AUSTRALASIAN ART
('1.212568378', 'R5 531m Gr6', 8, 50, 'Gawler', 'WIN')
5
<additionalinfo><br>Box changes:<br>Dog 9. Trending Striker starts from box no. 3<br>Dog 10. Mac Frenzy starts from box no. 6<br><br>
id = 51312766, name = FLAMING GALAH
id = 48339101, name = ALLINGA MOLLY
id = 51477818, name = COCO COASTER
id = 48908666, name = SPRINGVALE CHIP
id = 51477828, name = SOMERSBY
id = 53408316, name = RAGIN RIOT
id = 42527856, name = TRENDING STRIKER
id = 54518849, name = MAC FRENZY
('1.212568380', 'R6 531m Final', 9, 10, 'Gawler', 'WIN')
6
id = 48794621, name = COORONG CAM
id = 52061463, name = CIRCUS CRAZE
id = 51203488, name = TIME AFTER TIME
id = 51270483, name = ROLLING RIOT
id = 48794608, name = OH LOUISE
id = 52436105, name = SEE MY FUTURE
id = 48968125, name = DEVONISH GIRL
id = 47842522, name = ELEGANT BIX
('1.212568382', 'R7 531m Gr5', 9, 31, 'Gawler', 'WIN')
7
<additionalinfo><br>Box changes:<br>Dog 9. Resurgence starts from box no. 5<br><br>
id = 40702540, name = SHOW ME BUCKS
id = 53408309, name = RAGIN HUGO
id = 40397913, name = BLAZIN LASS
id = 41101067, name = LOT OF POISE
id = 42730576, name = NANGAR TEDDY
id = 39786505, name = TWO HANDS GEORGE
id = 41844292, name = EXPRESS BLACK
id = 42315200, name = RESURGENCE
('1.212568384', 'R8 531m S/E', 9, 56, 'Gawler', 'WIN')
8
id = 40374567, name = FIRED UP FINN
id = 43549573, name = BOLD ONYX
id = 42788960, name = RAZZLE DARRYL
id = 49332586, name = BLACK ABBOTT
id = 45737689, name = JAZZY KADE
id = 41361138, name = SPRINGVALE ROXY
id = 42373211, name = BASIL BRUSH ROSE
id = 40812624, name = MY MUMS VALUE
('1.212568386', 'R9 400m Vets', 10, 18, 'Gawler', 'WIN')
9
<additionalinfo><br>Box changes:<br>Dog 10. Westar Aileen starts from box no. 1<br><br>
id = 29893213, name = FLAMING BUBBLES
id = 38475419, name = REDEVELOP
id = 40223269, name = ASTON HAYATO
id = 40928517, name = ASTON MARLON
id = 38338462, name = REMEMBER PRINCE
id = 16563154, name = FILTHY PHANTOM
id = 38790077, name = ASTON BEL AIR
id = 45169344, name = WESTAR AILEEN
('1.212568388', 'R10 400m FFA', 10, 40, 'Gawler', 'WIN')
10
id = 37710930, name = CRUSH YOUR ENEMY
id = 43137217, name = AIR CRUISER
id = 46920325, name = CHICKS LOVE ME
id = 33552002, name = ALLINGA OLLIE
id = 42413713, name = TAYLOR TOVES
id = 40470707, name = VAL ALI
id = 37151449, name = VICTA MIKEY
('1.212568390', 'R11 400m Gr5', 10, 57, 'Gawler', 'WIN')
11
id = 40014924, name = ALLINGA GRIN
id = 41788560, name = EDGY REGGIE
id = 53090076, name = DESTINI SPITFIRE
id = 41947044, name = VERVE TO EXCEL
id = 39369803, name = CANYA RAZOR
id = 38605673, name = HOT ROCKS
id = 40557735, name = SPRING MAYFIELD
id = 39658489, name = STRATEGISE
('1.212568392', 'R12 400m Gr5', 11, 20, 'Gawler', 'WIN')
12
id = 40155788, name = WEBLEC NOVA
id = 45542232, name = IMMENSE
id = 38972352, name = BLUE JEAN BABY
id = 53373348, name = IRISH HEIRESS
id = 46221052, name = ROCKET MAN ROSE
id = 42226389, name = MEMPHIS ROCK
id = 42445311, name = LEGENDARY VALUE
id = 51113389, name = DOWN UNDER MISS
('1.212570677', 'R3 350m FFA', 8, 36, 'Grafton', 'WIN')
3
id = 49183980, name = RUSHFORTH ALLY
id = 39141892, name = DARK FATE
id = 40509001, name = NANGAR CANDY
id = 45691011, name = ESMAY NELLY
id = 42445195, name = LAURIES DELIGHT
id = 41234376, name = REDBACK ALFIE
id = 40996129, name = UNDIVIDED
('1.212570680', 'R4 450m Gr4/5', 8, 59, 'Grafton', 'WIN')
4
id = 44712053, name = BEEN FRAMED
id = 36500113, name = ZIPPING MOOSE
id = 42710629, name = COOL RED
id = 39088033, name = DAISYS GOLD
id = 45998513, name = SHIMA MAGIC
id = 49513894, name = FARMOR POWER
id = 46968438, name = KANIVA SWIFTY
id = 38880485, name = BLACK FIREBRAND
('1.212570683', 'R5 660m N/G', 9, 19, 'Grafton', 'WIN')
5
id = 42343379, name = JUST LIKE MICK
id = 46472677, name = JIMMY INTENTION
id = 44508932, name = TUZLA BALE
id = 41750183, name = ME AND YOU
id = 38761901, name = SUNBURST
id = 44816340, name = DANNIS ON FIRE
('1.212570686', 'R6 350m Heat', 9, 39, 'Grafton', 'WIN')
6
id = 7437419, name = CHIMES
id = 50815370, name = COUNTRY CODE
id = 54014826, name = FARMOR DECISIVE
id = 38798361, name = IN THE THIRTIES
id = 50953139, name = BOKARM ARROW
id = 48290453, name = PEN PAUL
id = 47392750, name = DOLLY VALLEY
id = 42464631, name = LAURIES SPARK
('1.212570689', 'R7 350m Heat', 10, 0, 'Grafton', 'WIN')
7
id = 52842144, name = POWER STORM
id = 44327691, name = SPRITELY OLIVE
id = 46920292, name = SECRET GIFT
id = 49396517, name = DARK AMBER
id = 47590718, name = ZULU RUFUS
id = 42845388, name = FARMOR PIZAZZ
id = 54518691, name = COSMOLOGIST
id = 51414477, name = SANDAVE STYLE
('1.212570692', 'R8 350m Heat', 10, 22, 'Grafton', 'WIN')
8
id = 7604936, name = NOTHING SIMPLE
id = 53680288, name = WHERES TREVOR
id = 43036211, name = EVE AND JAN
id = 39098943, name = TRUMPS BLUFF
id = 47969561, name = ONE FINE FILLY
id = 54518692, name = LADY VIRGINIA
id = 54518693, name = DULY NOTED
id = 52436123, name = MR IMPORTANT
('1.212570695', 'R9 350m Heat', 10, 37, 'Grafton', 'WIN')
9
id = 51009894, name = ALCATRAZ FLASH
id = 51525645, name = WAIKARIE PEG
id = 54518694, name = MISS HURRICANE
id = 49244724, name = FARMOR AMBUSHED
id = 46603272, name = SMOOTH GRACE
id = 47939516, name = BLACK PATCH
id = 50815386, name = ALL LIT UP
id = 50663188, name = BOKARM LUCKY
('1.212570698', 'R10 450m Gr5', 11, 2, 'Grafton', 'WIN')
10
id = 51414480, name = OUR BUSH BOY
id = 49684849, name = DAVE SANDS
id = 38521744, name = OUR SASSY NYRAH
id = 51562781, name = INVEST WISELY
id = 51957313, name = SPOOKY REBEL
id = 45489614, name = SLUDGE
id = 46653039, name = FLYING ZINGER
id = 42814449, name = TRUE CHARACTER
('1.212570701', 'R11 350m Gr4', 11, 27, 'Grafton', 'WIN')
11
id = 43527949, name = WRECK IT RIO
id = 45788205, name = ANGEL GAMBLER
id = 42226340, name = BURN THE EDGE
id = 49459918, name = DOUBLE THE CASH
id = 53344278, name = PRECOCIOUS
id = 42023543, name = JEBRYNAH SOL
id = 44736430, name = WHOS A PICTURE
id = 45023624, name = LAURIES GEM
('1.212570704', 'R12 350m Gr5', 11, 44, 'Grafton', 'WIN')
12
id = 41704220, name = LAYLA VALLEY
id = 42879672, name = MUNDY VALLEY
id = 49297676, name = RISKY KATHLEEN
id = 44303616, name = ROBELL MAGIC
id = 51561619, name = LA FOLIE
id = 42226332, name = GYPSY ROAD
id = 50561361, name = SHES ALL CHARM
id = 49183984, name = ZAMBORA FLETCH
('1.212568396', 'R1 375m Mdn', 8, 39, 'Broken Hill', 'WIN')
1
id = 54518763, name = CASH CHEQUE
id = 48144830, name = JACKIE KEEPING
id = 52385567, name = TAZS CLASSIFIED
id = 54518764, name = TONTOS BOY
id = 54518765, name = HEY CLEVELAND
id = 48199196, name = EXPRESSIONIST
id = 54518766, name = HELLO MATE
('1.212568399', 'R2 375m Mdn', 8, 54, 'Broken Hill', 'WIN')
2
id = 54518767, name = NIP OF SILVER
id = 54518768, name = WHO KNOWS LYN
id = 2516385, name = SWEET PEA
id = 54518769, name = LETTUCE WIN
id = 54518770, name = WHATS UP PETER
id = 49514059, name = THUNDER JETT
id = 50758608, name = TAT KENNY
('1.212568402', 'R3 375m N/G', 9, 13, 'Broken Hill', 'WIN')
3
id = 39586779, name = BARCIA KHAN
id = 41223347, name = LAGOON DARK EYES
id = 36996433, name = MY NAMES DANNY
id = 41876449, name = GYPSY BOY
id = 40022529, name = EMERLEY AUSSIE
id = 40569476, name = EASY STREET
('1.212568405', 'R4 525m N/G', 9, 35, 'Broken Hill', 'WIN')
4
id = 50758626, name = HIGH FLUX
id = 41775079, name = MYSTIC JEWEL
id = 51957277, name = KAISONS CURSE
id = 50605165, name = BIG MERV
id = 42845315, name = PRESIDENT
id = 42916231, name = LOVE MY KEY
id = 3208002, name = GREAT MINDS
('1.212568408', 'R5 375m Gr4', 9, 51, 'Broken Hill', 'WIN')
5
id = 50561423, name = FESTIVAL DANCER
id = 54266103, name = SPITEFUL
id = 39980054, name = RATIFIED
id = 49767005, name = WEST ON INDIGO
id = 54518771, name = CRASH TEST DUMMY
id = 54518772, name = SOUTH AUSSIE BOY
id = 51247679, name = CLUB SUPREME
id = 39008151, name = JAVEN BALE
('1.212568411', 'R6 525m N/G', 10, 9, 'Broken Hill', 'WIN')
6
id = 40072660, name = XAVI BALE
id = 39786447, name = ITS SMUDGY
id = 36154057, name = REIKO LIVE WIRE
id = 40364258, name = ZIPPING LOXLEY
id = 40659293, name = COMPULSORY HERO
('1.212568414', 'R7 375m Gr2/3', 10, 24, 'Broken Hill', 'WIN')
7
id = 41120242, name = BELLAS FLOWER
id = 6030213, name = EXTREMELY
id = 42845308, name = GO DIABLO
id = 54518773, name = MY LAST BABE
id = 51270481, name = BRUISIN BULL
id = 51526738, name = RACEY KASEY
id = 46315144, name = BYE BYE BLUES
id = 45169386, name = BIONIC BLUES
('1.212568417', 'R8 375m Gr3/4', 10, 42, 'Broken Hill', 'WIN')
8
id = 48199060, name = WEST ON FLARE
id = 42472236, name = VELOCITY DAHLIA
id = 40072455, name = MOLLY BLINDERS
id = 38206343, name = DANIEL SUN
id = 39784956, name = MEPUNGA REJECT
id = 40995691, name = ROSS SAPPHIRE
id = 40062654, name = CROWN THE ZIPPER
id = 41146044, name = MINTARO BALE
('1.212568420', 'R9 375m Gr5', 10, 59, 'Broken Hill', 'WIN')
9
id = 39870776, name = STRATOSPHERIC
id = 25369954, name = TYSONS CHOICE
id = 49144771, name = SILVER MEGHAN
id = 46240477, name = REIKO MINI
id = 40101028, name = AVAS PREDICTION
id = 48794636, name = LIPINSKI PIE
id = 49546870, name = ARROW MASTER
id = 48844022, name = WEST ON OAKLEY
('1.212568423', 'R10 375m Gr5', 11, 17, 'Broken Hill', 'WIN')
10
id = 54518774, name = MYSTIC BINDI
id = 48459019, name = SUBZERO ANNIE
id = 49430501, name = RIVER RAPIDS
id = 53785023, name = MYSTIC JAZZ
id = 51394279, name = FAR OUT LEXI
id = 48967728, name = MYSTIC SARAH
id = 54518775, name = EBBY HISTORIAN
id = 53785026, name = ICE BREAKER
('1.212568426', 'R11 375m Gr5', 11, 40, 'Broken Hill', 'WIN')
11
id = 47295997, name = SHAYE JAY
id = 51229721, name = BANANA GIRL
id = 54518777, name = MISS CARA BLACK
id = 45920069, name = JUST VANISHED
id = 49585461, name = SILVER LILLY
id = 54084976, name = STELLA STAR
id = 48967729, name = ICENI ARASHI
id = 50463737, name = SHIFTY AND SHADY
('1.212569854', 'R2 275m Nvce', 8, 42, 'Cannington', 'WIN')
2
id = 54518794, name = RILEY MAGIC
id = 54085000, name = SOLAR ZOOM
id = 46579070, name = DARK LIGHT
id = 40397947, name = YOU SEE LINA
id = 49892131, name = IMPROVISE
id = 51394343, name = ZIPPING YVETTE
id = 45087624, name = ALL ETERNITY
id = 49619238, name = DANDALUP PEARL
('1.212569859', 'R3 275m Gr6', 8, 57, 'Cannington', 'WIN')
3
id = 41435704, name = SHINBONER CRAZY
id = 38687157, name = ILLUSIVE MAC
id = 48144849, name = SHARNI GUNDI
id = 40559852, name = GIVE THE NOD
id = 39062437, name = REED TIME
id = 54518795, name = TIGER MICKEY
id = 30094360, name = MAREE KEEPING
id = 39680026, name = ROSE KEEPING
('1.212569864', 'R4 520m Nvce', 9, 16, 'Cannington', 'WIN')
4
id = 50478627, name = LUCILLE GUNDI
id = 48616597, name = FIREHOUSE MAC
id = 49914680, name = CYCLONE FERGIE
id = 49118080, name = VOLUNTEERING
id = 54518797, name = DANDALUP JASPER
('1.212569869', 'R5 380m Gr5/6', 9, 41, 'Cannington', 'WIN')
5
<additionalinfo><br>Box changes:<br>Dog 10. Rethink It starts from box no. 8<br><br>


id = 42537634, name = AZTEC KID
id = 46947754, name = PLATINUM KENZO
id = 47906531, name = KENNY KEEPING
id = 54518798, name = FIRE UP JAZZ
id = 41633100, name = AWESOME EXPRESS
id = 43493245, name = LETS RIOT
id = 46109187, name = PRIME MARTINI
id = 54518799, name = RETHINK IT
('1.212569874', 'R6 275m Gr5', 9, 57, 'Cannington', 'WIN')
6
id = 41075471, name = ZIPPING ESME
id = 47077677, name = MOMENT TO POLKA
id = 37237466, name = COLD SUGAR
id = 51295589, name = RUBYS ROCKET
id = 39811790, name = PALMER RIVER
id = 38166259, name = LADY JOSIE
id = 47392683, name = HEAT WAVE
id = 47040008, name = MY MY MY
('1.212569879', 'R7 275m Gr4', 10, 15, 'Cannington', 'WIN')
7
id = 47112170, name = JACK CAN BROWSE
id = 50005875, name = JACKSON KEEPING
id = 43970226, name = OPAL MAGIC
id = 39575180, name = SON OF BAMSY
id = 41653269, name = REMEMBRANCE
id = 42547333, name = MACEVOY
id = 45058662, name = JONAH GUNDI
id = 50713689, name = NITRO JET
('1.212569884', 'R8 520m Gr5/6', 10, 34, 'Cannington', 'WIN')
8
id = 42248956, name = BRAND NEW ME
id = 51616238, name = RYANS DEAL
id = 52386052, name = ROWDY BOURBSKI
id = 46292304, name = BLUE INTENTION
id = 53785129, name = ELLA CAN BROWSE
id = 39529287, name = CORPORAL KUNA
id = 53344224, name = SAMMY CAN BROWSE
id = 41035082, name = IMPACT MAC
('1.212569889', 'R9 380m Nvce', 10, 56, 'Cannington', 'WIN')
9
<additionalinfo><br>Box changes:<br>Dog 9. Hello Im Aero starts from box no. 1<br><br>


id = 41348224, name = OH SO LAVISH
id = 54518801, name = GOT THE BEAT
id = 46810137, name = FLAMING GAS
id = 51737492, name = HELLO HARLEY
id = 50997695, name = FINLOCH SHADOWS
id = 54055458, name = STAY AMUSED
id = 54518802, name = ZIPPING PEGGY
id = 48049168, name = HELLO IM AERO
('1.212569894', 'R10 380m Gr5', 11, 14, 'Cannington', 'WIN')
10
id = 45897331, name = SCARLETS PRINCE
id = 40812610, name = CITY STAGE
id = 12606472, name = JIMMY MAC
id = 54518804, name = WESTDALE ANARCHY
id = 54212319, name = DANDALUP BLAZER
id = 42401346, name = PAIGE KEEPING
id = 41308392, name = GLOBAL GOSSIP
id = 40917141, name = RISKY ASSASSIN
('1.212569899', 'R11 275m Gr4/5', 11, 33, 'Cannington', 'WIN')
11
id = 28342244, name = CRACKERJACK PACK
id = 39734187, name = QUICK TIN
id = 49513913, name = SHADOW LAD
id = 48458956, name = SILLY OLD BEAR
id = 49332425, name = LUKES COAL
id = 46109191, name = INDIAN FILE
id = 40559849, name = EXTREMELY SMOOTH
id = 43256832, name = MONTY CRISTO
('1.212569904', 'R12 275m Gr6', 11, 50, 'Cannington', 'WIN')
12
id = 41930998, name = CASINO TUX
id = 44342760, name = BELIEVIN BLADE
id = 50478628, name = WEST ON WARRIOR
id = 47530323, name = COMMANDER MACK
id = 38687160, name = LADY COCO
id = 38108365, name = GOT THE FURY
id = 41385472, name = MALIKA
id = 38534106, name = FORTY ONE FLASH
('1.212569909', 'R13 275m Gr5', 12, 7, 'Cannington', 'WIN')
13
id = 52503929, name = BLAZING SAND
id = 46109182, name = DASHING ONYX
id = 8281800, name = SCIENTIST
id = 44144609, name = HUMMINGBIRD HANA
id = 42280170, name = MICK THE MAGPIE
id = 41910273, name = ZULU FINESSE
id = 43653433, name = BLAZING JOY
id = 40977362, name = VEGAS CITY
('1.212569452', 'R5 595m Heat', 8, 49, 'Sandown Park', 'WIN')
5
id = 42088186, name = SUMMER DAZE
id = 36586425, name = SURPRISING
id = 54518835, name = PIRATE KINGSLEY
id = 42373232, name = ALBIES CRUISER
id = 51295638, name = DOTTYS GIFT
id = 46134218, name = MYSTIC MOMENT
('1.212569457', 'R6 515m Gr5', 9, 5, 'Sandown Park', 'WIN')
6
id = 41408852, name = DUNDEE COTTON
id = 46579135, name = PANDORAS RAPTOR
id = 38590814, name = LAMONT BALE
id = 38640664, name = DIAMOND FOR EVIE
id = 45758611, name = NICKI WHOOP
id = 42139414, name = GET IT BACK
id = 48794633, name = REALITY MASK
('1.212569462', 'R7 515m Gr6/7', 9, 29, 'Sandown Park', 'WIN')
7
id = 45897220, name = ROTHWELL WHINNY
id = 52204963, name = MORAINE ARNIE
id = 54518836, name = COME ON KILKENNY
id = 52311477, name = DISCO INFERNO
id = 51455235, name = UBIQUITOUSNESS
id = 43912006, name = FOLK SLAYER
id = 53720203, name = MORAINE SOFIA
id = 51502824, name = MORAINE CHARLI
('1.212569467', 'R8 515m Gr5', 9, 47, 'Sandown Park', 'WIN')
8
id = 42573179, name = TEXAS LONG HORN
id = 48339188, name = WINNIES WISH
id = 41308333, name = EXTERNAL LINK
id = 42492588, name = ULTIMATE TEDDY
id = 41876663, name = ESAVA
id = 54266254, name = COLDEN MINA
id = 48426789, name = DEEP FEVER
('1.212569472', 'R9 515m Gr4/5', 10, 6, 'Sandown Park', 'WIN')
9
id = 40961316, name = YAALA EXPRESS
id = 48144923, name = ZIPPING GOLDIE
id = 41810308, name = MR FAWNSTONE
id = 39787336, name = WELL GROUNDED
id = 45943501, name = RECALIBRATE
('1.212569477', 'R10 515m Gr5', 10, 28, 'Sandown Park', 'WIN')
10
id = 45967448, name = SUPREME SWORD
id = 47842769, name = TEN PINEAPPLES
id = 43378690, name = BAHROSE
id = 47637658, name = MORAINE MARCO
id = 39530291, name = ASTON PRIDE
id = 54518838, name = MATES REVENGE
('1.212570727', 'R5 520m Gr4/5', 8, 52, 'Richmond', 'WIN')
5
id = 54518176, name = SACRED SILENCE
id = 38938587, name = EMERALD GREEN
id = 49808150, name = OLD EASY
id = 45591342, name = ZIPPING RUBBLE
id = 49619401, name = INSIDE DART
id = 39785274, name = BLIND PURSUIT
id = 45249369, name = TYSONS FURY
id = 43016271, name = BOGAN VALLEY
('1.212570732', 'R6 401m Rest', 9, 8, 'Richmond', 'WIN')
6
id = 53575682, name = EMERALD PEARL
id = 52112674, name = MUMS MOUSSAKA
id = 50405955, name = SLINGSHOT QUEEN
id = 54518177, name = RED RICCIARDO
id = 46495906, name = SANTANA FLY
id = 52386198, name = CARTER OBRIEN
id = 53052899, name = MAGIC AVENUE
id = 51717613, name = FOREVER SPIRIT
('1.212570737', 'R7 401m Rest', 9, 32, 'Richmond', 'WIN')
7
<additionalinfo><br>Box changes:<br>Dog 9. Black Rocket starts from box no. 3<br><br>


id = 51808932, name = BLACK BOOK
id = 47017161, name = POPULAR MASTER
id = 54174847, name = FELIX JAG
id = 50627567, name = MORE CRACKERS
id = 51717616, name = NARA SPIRIT
id = 50627581, name = SLINGSHOT SNEAKY
id = 40062166, name = MINIMUM WAGE
id = 51009520, name = BLACK ROCKET
('1.212570742', 'R8 401m Rest', 9, 54, 'Richmond', 'WIN')
8
<additionalinfo><br>Box changes:<br>Dog 9. Lucayan starts from box no. 1<br><br>


id = 54368586, name = FLYING ALONSO
id = 51203584, name = COSTOSA
id = 51835304, name = STETSENKO
id = 48426799, name = UNACCEPTABLE JUD
id = 54518178, name = RAW QUALITY
id = 52436175, name = ZEROED IN
id = 51918819, name = MY GIRL SHIRL
id = 49619259, name = LUCAYAN
('1.212570747', 'R9 320m Gr4/5', 10, 12, 'Richmond', 'WIN')
9
<additionalinfo><br>Box changes:<br>Dog 9. Judgment Fay starts from box no. 3<br><br>


id = 47613011, name = ESPECIALLY RARE
id = 43016322, name = PATTAYA PETE
id = 42730633, name = ALL RUM
id = 51858311, name = RAPID RASCAL
id = 42047410, name = FABULOUS PABLO
id = 40374344, name = LEE KEEPING
id = 46260470, name = ANOMALY
id = 30456257, name = JUDGMENT FAY
('1.212570752', 'R10 320m Gr5', 10, 31, 'Richmond', 'WIN')
10
id = 41234337, name = GRAND SAFARI
id = 54266181, name = TOWERING CHIEF
id = 41286478, name = FABIOS ETHICS
id = 48672627, name = RECTIFIED
id = 42182302, name = LUKE WARM LAGER
id = 38222701, name = ROCKSTAR ORTON
id = 42401408, name = FERNANDO MAE
id = 54368590, name = SOLAR SPACE
('1.212570757', 'R11 320m Gr5', 10, 53, 'Richmond', 'WIN')
11
id = 7364565, name = REMAS EMERALD
id = 54518180, name = LETHAL LEXUS
id = 54266157, name = LATE NOTICE
id = 54518181, name = SOLAR BRIGHT
id = 51935981, name = BALINESE BLUE
id = 54518182, name = MOONSHINE BONNIE
id = 53785135, name = BELIEVE THE HYPE
id = 52176632, name = DESPICABLE TILLY
('1.212570762', 'R12 401m M2/3', 11, 11, 'Richmond', 'WIN')
12
<additionalinfo><br>Box changes:<br>Dog 10. Lola Pepper starts from box no. 7<br><br>


id = 39906190, name = DESPICABLE SPIKE
id = 38544725, name = ROMANTIC STORM
id = 39714566, name = LIME ROCK PARK
id = 39326845, name = JIGSAW JOE

In [4]:
tracks_FT = prediction_df.Track.unique()

In [5]:
races_ft_df = df[['track','race_num', 'box_bf']].copy()
races_ft_df.columns = ['Track', 'RaceNum', 'RaceBox']
races_ft_df.replace('Wagga','Wagga Wagga',inplace = True)

if 'Richmond Straight' in tracks_FT:
    races_ft_df.replace('Richmond','Richmond Straight',inplace = True)
    print("replacing richmond")

races_ft_df

      Track  RaceNum RaceBox
0    Gawler        4       1
1    Gawler        4       2
2    Gawler        4       3
3    Gawler        4       4
4    Gawler        4       5
..      ...      ...     ...
475  Darwin        8       1
476  Darwin        8       2
477  Darwin        8       4
478  Darwin        8       6
479  Darwin        8       8

[480 rows x 3 columns]

In [6]:
races_ft_df.RaceBox = pd.to_numeric(races_ft_df.RaceBox)

In [7]:
races_ft_df.dtypes

Track      object
RaceNum     int64
RaceBox     int64
dtype: object

In [8]:
box_change_df = pd.DataFrame.from_records(box_change_list, columns = ['Track', 'RaceNum', 'string'])
#box_change_df.drop(index=0, inplace=True)
box_change_df = box_change_df[~(box_change_df['string']==' ')]
box_change_df['runner_name'] = box_change_df['string'].apply(lambda x: regexp_tokenize(x, pattern1)[0])
box_change_df['runner_number'] = box_change_df['runner_name'].apply(lambda x: x[:(x.find(" ") - 1)].upper())
box_change_df['runner_name'] = box_change_df['runner_name'].apply(lambda x: x[(x.find(" ") + 1):].upper())
box_change_df['RaceBox'] = pd.to_numeric(box_change_df['string'].apply(lambda x: regexp_tokenize(x, pattern2)[0]))
prediction_df.RaceNum = pd.to_numeric(prediction_df.RaceNum)
prediction_df.RaceBox = pd.to_numeric(prediction_df.RaceBox)
prediction_df = prediction_df.reset_index(drop=True).set_index(['Track', 'RaceNum', 'RaceBox'])
prediction_df = prediction_df.drop(index=list(box_change_df[['Track','RaceNum','RaceBox']].itertuples(index=False)), errors='ignore').reset_index()
prediction_df = prediction_df.merge(races_ft_df, on=['Track', 'RaceNum', 'RaceBox'])
merged = prediction_df.merge(how='left', right=box_change_df, right_on=['runner_name', 'RaceNum'], left_on=['DogName', 'RaceNum'])
merged['Box'] = merged.apply(lambda x: int(x['box']) if np.isnan(x['RaceBox_y']) else int(x['RaceBox_y']), axis =1)
merged['race_time'] = pd.to_datetime(merged['RaceTime'])
new_form = merged[merged['Box']<=8][['Track_x','State','DogId','DogName','DogGrade', 'RaceId','Distance', 'Date', 'Box','race_time','RaceNum']].rename(columns={'Track_x':'Track', 'RaceNum':'race_num'})

In [9]:
new_form

,Track,State,DogId,DogName,DogGrade,RaceId,Distance,Date,Box,race_time,race_num
0,Sandown Park,VIC,536729320,SUMMER DAZE,5,888991939,595m,09 Apr 23,1,2023-04-09 18:49:00,5
1,Sandown Park,VIC,527460319,SURPRISING,4,888991939,595m,09 Apr 23,2,2023-04-09 18:49:00,5
2,Sandown Park,VIC,665757358,PIRATE KINGSLEY,5,888991939,595m,09 Apr 23,4,2023-04-09 18:49:00,5
3,Sandown Park,VIC,568419583,ALBIES CRUISER,5,888991939,595m,09 Apr 23,5,2023-04-09 18:49:00,5
4,Sandown Park,VIC,655391168,DOTTYS GIFT,5,888991939,595m,09 Apr 23,7,2023-04-09 18:49:00,5
...,...,...,...,...,...,...,...,...,...,...,...
395,Darwin,NT,559092462,BARNEY SUN,2,889002506,383m,09 Apr 23,1,2023-04-09 21:33:00,8
396,Darwin,NT,623993009,NICK THE QUICK,1,889002506,383m,09 Apr 23,2,2023-04-09 21:33:00,8
397,Darwin,NT,511163286,BOP BOP,3,889002506,383m,09 Apr 23,4,2023-04-09 21:33:00,8
398,Darwin,NT,613675909,GUDGEON PIN,2,889002506,383m,09 Apr 23,6,2023-04-09 21:33:00,8
399,Darwin,NT,576142625,NANGAR BOLT,1,889002506,383m,09 Apr 23,8,2023-04-09 21:33:00,8

In [10]:
box_change_df

,Track,RaceNum,string,runner_name,runner_number,RaceBox
0,Gawler,5,<additionalinfo><br>Box changes:<br>Dog 9. Tre...,TRENDING STRIKER,9,3
1,Gawler,7,<additionalinfo><br>Box changes:<br>Dog 9. Res...,RESURGENCE,9,5
2,Gawler,9,<additionalinfo><br>Box changes:<br>Dog 10. We...,WESTAR AILEEN,10,1
3,Cannington,5,<additionalinfo><br>Box changes:<br>Dog 10. Re...,RETHINK IT,10,8
4,Cannington,9,<additionalinfo><br>Box changes:<br>Dog 9. Hel...,HELLO IM AERO,9,1
5,Richmond,7,<additionalinfo><br>Box changes:<br>Dog 9. Bla...,BLACK ROCKET,9,3
6,Richmond,8,<additionalinfo><br>Box changes:<br>Dog 9. Luc...,LUCAYAN,9,1
7,Richmond,9,<additionalinfo><br>Box changes:<br>Dog 9. Jud...,JUDGMENT FAY,9,3
8,Richmond,12,<additionalinfo><br>Box changes:<br>Dog 10. Lo...,LOLA PEPPER,10,7

In [11]:
importlib.reload(featurecreations)
test_out = featurecreations.generate_prediction_dataframe_v2('results-df-merged-prices.npy', new_form)

fin 30
fin 5
fin 1
fin 10_dist
fin 10 box
fin 10 track_box
fin 10 track_dist
['speed_avg_30', 'speed_max_30', 'split_speed_avg_30', 'split_speed_max_30', 'split_margin_avg_30', 'margin_avg_30', 'first_out_avg_30', 'post_change_avg_30', 'races_30', 'wins_30', 'speed_avg_5', 'speed_max_5', 'split_speed_avg_5', 'split_speed_max_5', 'split_margin_avg_5', 'margin_avg_5', 'first_out_avg_5', 'post_change_avg_5', 'races_5', 'wins_5', 'speed_avg_1', 'speed_max_1', 'split_speed_avg_1', 'split_speed_max_1', 'split_margin_avg_1', 'margin_avg_1', 'first_out_avg_1', 'post_change_avg_1', 'races_1', 'wins_1', 'speed_avgdist_10', 'speed_maxdist_10', 'split_speed_avgdist_10', 'split_speed_maxdist_10', 'split_margin_avgdist_10', 'margin_avgdist_10', 'first_out_avgdist_10', 'post_change_avgdist_10', 'racesdist_10', 'winsdist_10', 'speed_avgbox_10', 'speed_maxbox_10', 'split_speed_avgbox_10', 'split_speed_maxbox_10', 'split_margin_avgbox_10', 'margin_avgbox_10', 'first_out_avgbox_10', 'post_change_avgbox_10', 'racesbox_10', 'winsbox_10', 'speed_avgtrack_box_10', 'speed_maxtrack_box_10', 'split_speed_avgtrack_box_10', 'split_speed_maxtrack_box_10', 'split_margin_avgtrack_box_10', 'margin_avgtrack_box_10', 'first_out_avgtrack_box_10', 'post_change_avgtrack_box_10', 'racestrack_box_10', 'winstrack_box_10', 'speed_avgtrack_dist_10', 'speed_maxtrack_dist_10', 'split_speed_avgtrack_dist_10', 'split_speed_maxtrack_dist_10', 'split_margin_avgtrack_dist_10', 'margin_avgtrack_dist_10', 'first_out_avgtrack_dist_10', 'post_change_avgtrack_dist_10', 'racestrack_dist_10', 'winstrack_dist_10', 'min_time_track_dist', 'mean_time_track_dist', 'min_split_time_track_dist', 'mean_split_time_track_dist']

In [12]:
new_form["date"] =  pd.to_datetime(prediction_df["Date"], format="%d %b %y").dt.date
new_form["date"]

0      2023-04-09
1      2023-04-09
2      2023-04-09
3      2023-04-09
4      2023-04-09
          ...
395    2023-04-09
396    2023-04-09
397    2023-04-09
398    2023-04-09
399    2023-04-09
Name: date, Length: 399, dtype: object

In [13]:
test_out = test_out[test_out['raceid'].isin( new_form['RaceId'])]
test_out.to_pickle(f'testing new outs {today}.npy')

In [14]:
test_out100 = test_out.head()

In [15]:
test_out

,dogid,dog_name,raceid,race_num,race_grade,date,race_time,trackOHE,track_name,state,...,dist,bfSP,runtime,prev_race,prev_race_date,prev_race_track,place,margin,box,stats
15776,536729320,SUMMER DAZE,888991939,5.0,NaN,2023-04-09,2023-04-09 18:49:00,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",Sandown Park,VIC,...,595.0,NaN,NaN,886813594,2023-04-02 00:00:00,Sandown Park,NaN,NaN,1,"[1.0, 25.5, 5.0, 17.37692205097138, 17.7127454..."
15777,527460319,SURPRISING,888991939,5.0,NaN,2023-04-09,2023-04-09 18:49:00,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",Sandown Park,VIC,...,595.0,NaN,NaN,885838643,2023-03-29 00:00:00,The Meadows,NaN,NaN,2,"[2.0, 29.5, 4.0, 17.284340669216128, 17.736786..."
15778,665757358,PIRATE KINGSLEY,888991939,5.0,NaN,2023-04-09,2023-04-09 18:49:00,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",Sandown Park,VIC,...,595.0,NaN,NaN,884739521,2023-03-30 00:00:00,Sandown Park,NaN,NaN,4,"[4.0, 31.8, 5.0, 17.16714355621553, 17.4534574..."
15779,568419583,ALBIES CRUISER,888991939,5.0,NaN,2023-04-09,2023-04-09 18:49:00,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",Sandown Park,VIC,...,595.0,NaN,NaN,887147260,2023-04-04 00:00:00,Warragul,NaN,NaN,5,"[5.0, 26.1, 5.0, 17.28482176008594, 17.5840978..."
15780,655391168,DOTTYS GIFT,888991939,5.0,NaN,2023-04-09,2023-04-09 18:49:00,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",Sandown Park,VIC,...,595.0,NaN,NaN,881902294,2023-03-16 00:00:00,Sandown Park,NaN,NaN,7,"[7.0, 27.9, 5.0, 17.16432193472789, 17.6583493..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16170,559092462,BARNEY SUN,889002506,8.0,NaN,2023-04-09,2023-04-09 21:33:00,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",Darwin,NT,...,383.0,NaN,NaN,886871248,2023-04-05 00:00:00,Darwin,NaN,NaN,1,"[1.0, 30.6, 2.0, 17.03806447823313, 17.5182481..."
16171,623993009,NICK THE QUICK,889002506,8.0,NaN,2023-04-09,2023-04-09 21:33:00,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",Darwin,NT,...,383.0,NaN,NaN,882009451,2023-04-02 00:00:00,Darwin,NaN,NaN,2,"[2.0, 32.4, 1.0, 17.227298353861553, 17.572304..."
16172,511163286,BOP BOP,889002506,8.0,NaN,2023-04-09,2023-04-09 21:33:00,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",Darwin,NT,...,383.0,NaN,NaN,792134968,2022-06-18 00:00:00,The Meadows,NaN,NaN,4,"[4.0, 33.4, 3.0, 17.445398139820707, 18.087855..."
16173,613675909,GUDGEON PIN,889002506,8.0,NaN,2023-04-09,2023-04-09 21:33:00,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",Darwin,NT,...,383.0,NaN,NaN,886871248,2023-04-05 00:00:00,Darwin,NaN,NaN,6,"[6.0, 26.3, 2.0, 17.087355555613758, 17.381615..."
16174,576142625,NANGAR BOLT,889002506,8.0,NaN,2023-04-09,2023-04-09 21:33:00,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",Darwin,NT,...,383.0,NaN,NaN,886871248,2023-04-05 00:00:00,Darwin,NaN,NaN,8,"[8.0, 32.0, 1.0, 17.246396247360416, 17.568192..."

In [16]:
tail = test_out.tail(2000)

In [17]:
test_out_pred  = test_out[test_out['raceid'].isin( new_form['RaceId'])]

In [18]:
stats_col = ['speed_avg_30', 'speed_max_30', 'split_speed_avg_30', 'split_speed_max_30', 'split_margin_avg_30', 'margin_avg_30', 'races_30', 'wins_30', 'speed_avg_5', 'speed_max_5', 'split_speed_avg_5', 'split_speed_max_5', 'split_margin_avg_5', 'margin_avg_5', 'races_5', 'wins_5', 'speed_avg_1', 'speed_max_1', 'split_speed_avg_1', 'split_speed_max_1', 'split_margin_avg_1', 'margin_avg_1', 'races_1', 'wins_1', 'speed_avgdist_10', 'speed_maxdist_10', 'split_speed_avgdist_10', 'split_speed_maxdist_10', 'split_margin_avgdist_10', 'margin_avgdist_10', 'racesdist_10', 'winsdist_10', 'speed_avgbox_10', 'speed_maxbox_10', 'split_speed_avgbox_10', 'split_speed_maxbox_10', 'split_margin_avgbox_10', 'margin_avgbox_10', 'racesbox_10', 'winsbox_10']

In [19]:
len(stats_col)

40

In [20]:
test_out_pred[test_out_pred['state']=="NSW"]

,dogid,dog_name,raceid,race_num,race_grade,date,race_time,trackOHE,track_name,state,...,dist,bfSP,runtime,prev_race,prev_race_date,prev_race_track,place,margin,box,stats
15815,650078113,SACRED SILENCE,886871396,5.0,NaN,2023-04-09,2023-04-09 18:52:00,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",Richmond,NSW,...,520.0,NaN,NaN,885078752,2023-04-02 00:00:00,Richmond,NaN,NaN,1,"[1.0, 27.4, 5.0, 17.1138897932725, 17.72428884..."
15816,451768307,EMERALD GREEN,886871396,5.0,NaN,2023-04-09,2023-04-09 18:52:00,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",Richmond,NSW,...,520.0,NaN,NaN,880939742,2023-03-25 00:00:00,Wentworth Park,NaN,NaN,2,"[2.0, 32.2, 5.0, 17.177153152477672, 17.885562..."
15817,675307061,OLD EASY,886871396,5.0,NaN,2023-04-09,2023-04-09 18:52:00,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",Richmond,NSW,...,520.0,NaN,NaN,885078752,2023-04-02 00:00:00,Richmond,NaN,NaN,3,"[3.0, 32.8, 5.0, 17.256819121649176, 18.254364..."
15818,540582166,ZIPPING RUBBLE,886871396,5.0,NaN,2023-04-09,2023-04-09 18:52:00,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",Richmond,NSW,...,520.0,NaN,NaN,826268241,2022-09-16 00:00:00,Traralgon,NaN,NaN,4,"[4.0, 34.6, 4.0, 17.51192037557857, 18.4090909..."
15819,602825248,INSIDE DART,886871396,5.0,NaN,2023-04-09,2023-04-09 18:52:00,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",Richmond,NSW,...,520.0,NaN,NaN,882009045,2023-03-18 00:00:00,Wentworth Park,NaN,NaN,5,"[5.0, 32.1, 5.0, 17.221132049061396, 17.761989..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15950,638803578,ROBELL MAGIC,886871479,12.0,NaN,2023-04-09,2023-04-09 21:44:00,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",Grafton,NSW,...,350.0,NaN,NaN,884739547,2023-03-30 00:00:00,Casino,NaN,NaN,4,"[4.0, 26.6, 5.0, 17.376798049025787, 17.709563..."
15951,587948149,LA FOLIE,886871479,12.0,NaN,2023-04-09,2023-04-09 21:44:00,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",Grafton,NSW,...,350.0,NaN,NaN,884739554,2023-03-30 00:00:00,Casino,NaN,NaN,5,"[5.0, 26.3, 5.0, 16.874971732444116, 17.709563..."
15952,558491833,GYPSY ROAD,886871479,12.0,NaN,2023-04-09,2023-04-09 21:44:00,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",Grafton,NSW,...,350.0,NaN,NaN,884739754,2023-04-02 00:00:00,Grafton,NaN,NaN,6,"[6.0, 27.1, 5.0, 16.9978742621907, 17.61597181..."
15953,680210716,SHES ALL CHARM,886871479,12.0,NaN,2023-04-09,2023-04-09 21:44:00,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",Grafton,NSW,...,350.0,NaN,NaN,885078802,2023-04-04 00:00:00,Casino,NaN,NaN,7,"[7.0, 23.9, 5.0, 17.255583123593382, 17.678255..."
15954,634935856,ZAMBORA FLETCH,886871479,12.0,NaN,2023-04-09,2023-04-09 21:44:00,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",Grafton,NSW,...,350.0,NaN,NaN,884739755,2023-04-02 00:00:00,Grafton,NaN,NaN,8,"[8.0, 35.3, 5.0, 17.229511520053116, 17.526289..."

In [21]:
test_out_pred.to_pickle(f'testing new outs {today}.npy')

In [22]:
len(test_out_pred.trackOHE.iloc[0])

69

In [23]:
test_out_pred[test_out_pred['dog_name']=="John"]

Empty DataFrame
Columns: [dogid, dog_name, raceid, race_num, race_grade, date, race_time, trackOHE, track_name, state, track_code, dist, bfSP, runtime, prev_race, prev_race_date, prev_race_track, place, margin, box, stats]
Index: []

[0 rows x 21 columns]

In [24]:
rich = test_out_pred[test_out_pred['track_name']=='The Gardens']

In [25]:
len(test_out_pred.stats.iloc[0])

77

In [26]:
len(test_out_pred.trackOHE.iloc[0])

69