In [1]:
import pickle
import pandas as pd
import os
import torch
import numpy as np
import torch.nn as nn
import torch.nn.functional as F

In [3]:
os.getcwd()
os.chdir(r"C:\Users\Nick\Documents\GitHub\grvmodel\Python\DATA")
dog_df = pd.DataFrame(pickle.load(open( 'dog_stats_df_FASTTRACK new margins.npy', 'rb')))
dog_df['box'] = dog_df['stats'].apply(lambda x: x[0])
dog_df = dog_df[dog_df['track_name'].str.contains("NZ")]

In [37]:
dog_df.sort_values('date')

,dogid,dog_name,raceid,race_grade,date,trackOHE,track_name,dist,stats,place,startprice,margin,bfSP,runtime,box
997,253386773,HAPPY MEDIUM,500543142,Class 1,2019-12-01,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",Auckland (NZ),527.0,"[8, -1, -1, -1, -1, -1, -1, -1, -1, -1, 0, 0, ...",1.0,NaN,0.00,NaN,30.88,8
1007,2105690062,PAT TAMA,500543143,Class 4 Final,2019-12-01,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",Auckland (NZ),318.0,"[5, -1, -1, -1, -1, -1, -1, -1, -1, -1, 0, 0, ...",4.0,NaN,6.44,NaN,18.99,5
1008,1116480038,ALEX ATTACK,500543143,Class 4 Final,2019-12-01,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",Auckland (NZ),318.0,"[2, -1, -1, -1, -1, -1, -1, -1, -1, -1, 0, 0, ...",3.0,NaN,4.23,NaN,18.85,2
1009,141326625,DOES HE EXIST,500543143,Class 4 Final,2019-12-01,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",Auckland (NZ),318.0,"[1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 0, 0, ...",1.0,NaN,0.00,NaN,18.58,1
1010,128650300,GO ALL LIN,500543143,Class 4 Final,2019-12-01,"[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",Auckland (NZ),318.0,"[3, -1, -1, -1, -1, -1, -1, -1, -1, -1, 0, 0, ...",2.0,NaN,4.21,NaN,18.85,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1012585,471074793,DEMBE,846606735,Class 4,2022-12-01,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",Christchurch (NZ),520.0,"[6, 0.058408909082496435, 0.000635080027850219...",5.0,11.1,6.30,10.500000,18.20,6
1012586,576143086,CALCULATED RISK,846606735,Class 4,2022-12-01,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",Christchurch (NZ),520.0,"[2, 0.05874895962279309, 0.0007828353140396463...",1.0,9.7,0.00,10.000000,17.80,2
1012587,634935932,MRS. CHINN,846606735,Class 4,2022-12-01,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",Christchurch (NZ),520.0,"[1, 0.05890329287375239, 0.0005332365673547307...",3.0,6.1,2.60,NaN,17.96,1
1012613,537992860,HOMEBUSH SPARKLE,846606738,Class 3,2022-12-01,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",Christchurch (NZ),295.0,"[8, 0.05998590318052621, 0.0008156097652865078...",8.0,26.5,16.10,66.799726,18.24,8
1016988,515901781,OPAWA ALBERT,846624197,Mixed grade 4/5,2022-12-01,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",Waikato (NZ),457.0,"[7, 0.05851138576385914, 0.0009579770498617694...",8.0,27.0,19.60,29.000000,26.78,7

In [4]:
os.getcwd()
os.chdir(r"C:\Users\Nick\Documents\GitHub\grvmodel\Python\DATA")
dog_df_pred = pd.DataFrame(pickle.load(open( r'C:\Users\Nick\Documents\GitHub\grvmodel\Python\DATA\prediction validation 2023-01.npy', 'rb')))
dog_df_pred['box'] = dog_df_pred['stats'].apply(lambda x: x[0])
dog_df_pred = dog_df_pred[dog_df_pred['track_name'].str.contains("NZ")]

In [26]:
dog_df_pred.head(25)

,dogid,dog_name,raceid,race_grade,date,trackOHE,track_name,dist,stats,place,startprice,margin,bfSP,runtime,prev_race,box
368,451768424,GOLDSTAR LINDA,853983172,Class 3,2022-12-15,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",Christchurch (NZ),295.0,"[1, 0.0581798035141873, 0.007221768971605164, ...",1.0,1.9,3.0,2.451261,17.28,614246495,1
369,410839595,HOMEBUSH GLITCH,853983172,Class 3,2022-12-15,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",Christchurch (NZ),295.0,"[6, 0.05982413443430391, 0.001214426250067608,...",2.0,7.2,3.0,7.000000,17.47,557036045,6
370,550411338,SAPPORO BALE,853983172,Class 3,2022-12-15,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",Christchurch (NZ),295.0,"[4, 0.060308019842910295, 0.000976294641085533...",3.0,18.3,4.3,43.432970,17.55,725645897,4
371,638803598,HOMEBUSH BENTLEY,853983172,Class 3,2022-12-15,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",Christchurch (NZ),295.0,"[8, 0.0599098810793726, 0.000711141215879643, ...",4.0,39.8,5.8,70.000000,17.65,798984985,8
372,351419010,TAIERI TAYLEE,853983172,Class 3,2022-12-15,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",Christchurch (NZ),295.0,"[7, 0.05943857272670832, 0.000765692858808701,...",5.0,5.1,6.0,5.700000,17.66,550362250,7
373,379018103,TIGGERLONG DEMON,853983172,Class 3,2022-12-15,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",Christchurch (NZ),295.0,"[2, 0.05942425114924862, 0.0007297383630911877...",6.0,12.5,9.3,15.000000,17.87,576079505,2
374,634935922,GOLDSTAR GLENYS,853983172,Class 3,2022-12-15,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",Christchurch (NZ),295.0,"[5, 0.06023582050418863, 0.0007683513138660465...",7.0,7.9,9.8,7.800000,17.90,795411906,5
375,523685851,FREE FOR ALL,853983172,Class 3,2022-12-15,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",Christchurch (NZ),295.0,"[3, 0.05893631227529532, 0.007390136149442979,...",8.0,17.6,10.3,23.467063,17.93,669981821,3
376,534921216,ORISHA BALE,853983173,Mixed 3/4,2022-12-15,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",Christchurch (NZ),295.0,"[1, 0.059505392912172585, 0.000650842336786174...",1.0,3.5,4.0,3.820570,17.29,792243401,1
377,476754639,ADOBE DERULO,853983173,Mixed 3/4,2022-12-15,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",Christchurch (NZ),295.0,"[5, 0.05924232089850652, 0.0008352444679453078...",2.0,10.5,4.0,9.600000,17.54,656365850,5
378,445020535,MUSTANG MEGAN,853983173,Mixed 3/4,2022-12-15,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",Christchurch (NZ),295.0,"[2, 0.05959723461195359, 0.0007592204755582947...",3.0,12.9,5.3,13.500000,17.62,576096680,2
379,638803656,SMASH WAVE,853983173,Mixed 3/4,2022-12-15,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",Christchurch (NZ),295.0,"[8, 0.05980338983050847, 0.0010763293343808659...",4.0,2.2,5.5,2.800000,17.64,798906627,8
380,779220879,DIAMOND CHIPPER,853983173,Mixed 3/4,2022-12-15,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",Christchurch (NZ),295.0,"[7, 0.06023172669491525, 0.0006745950047849696...",5.0,11.1,6.2,15.205160,17.68,807631337,7
381,775589129,MAXIMA,853983173,Mixed 3/4,2022-12-15,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",Christchurch (NZ),295.0,"[3, 0.059726392251815974, 0.000937105921985721...",6.0,9.5,7.2,9.245880,17.74,792203747,3
382,570627038,OHOKA TOREY,853983173,Mixed 3/4,2022-12-15,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",Christchurch (NZ),295.0,"[6, 0.060035636679704484, 0.000670067671465727...",7.0,31.6,7.7,130.000000,17.78,714824523,6
383,549372575,HOMEBUSH HONEY,853983173,Mixed 3/4,2022-12-15,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",Christchurch (NZ),295.0,"[4, 0.05966859485241619, 0.00088453499270112, ...",8.0,19.1,8.7,34.000000,17.84,714932012,4
384,549372555,IT'S BETTER,853983174,Class 5,2022-12-15,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",Christchurch (NZ),295.0,"[5, 0.05921658559899783, 0.0008147899025836451...",1.0,18.5,3.5,NaN,17.12,740281866,5
385,525211348,ALTERNATE SHOT,853983174,Class 5,2022-12-15,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",Christchurch (NZ),295.0,"[6, 0.0594549509366637, 0.0012385614988584498,...",2.0,2.0,3.5,2.213768,17.34,680665346,6
386,638803648,SHANE BAXTER,853983174,Class 5,2022-12-15,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",Christchurch (NZ),295.0,"[2, 0.05977664300545656, 0.0009567480697366995...",3.0,23.3,3.7,20.486238,17.35,792243664,2
387,550411349,SMASH READY,853983174,Class 5,2022-12-15,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",Christchurch (NZ),295.0,"[8, 0.05933782920469361, 0.0007509483495092773...",4.0,18.3,5.7,25.000000,17.48,714932218,8
388,596382398,OPAWA BARNS,853983174,Class 5,2022-12-15,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",Christchurch (NZ),295.0,"[3, 0.059127889060092455, 0.001045546798277417...",5.0,2.3,5.8,2.894123,17.49,775474994,3
389,525210837,BARBER CUBED,853983174,Class 5,2022-12-15,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",Christchurch (NZ),295.0,"[7, 0.059444734173547724, 0.000942820244799713...",6.0,25.2,8.3,44.000000,17.64,707237837,7
390,504048112,GOLDSTAR LARSON,853983174,Class 5,2022-12-15,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",Christchurch (NZ),295.0,"[1, 0.059455802140216285, 0.000899128921118858...",7.0,12.7,11.8,18.500000,17.86,677734289,1
391,549390088,CHATTY MAVIS,853983175,Class 3,2022-12-15,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",Christchurch (NZ),295.0,"[1, 0.05852697186681952, 0.0006877405959568688...",1.0,1.5,7.3,1.555405,17.46,725765134,1
392,540582251,SOZIN'S QUEEN,853983175,Class 3,2022-12-15,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",Christchurch (NZ),295.0,"[2, 0.06002939562984021, 0.0007152437708083766...",2.0,23.8,7.3,NaN,17.92,694780427,2

In [23]:
dog_df_pred.dogid.value_counts().value_counts()

3    229
2    220
1    189
4    150
5     21
6      2
Name: dogid, dtype: int64

In [17]:
dog_df_pred.shape

(2033, 16)

In [15]:
dog_df_pred.raceid.value_counts().shape

(280,)

In [27]:
save_path = r"C:\Users\Nick\Documents\GitHub\grvmodel\Python\pytorch\New Model\savedmodel\test NZ GRU saver\test NZ GRU saver_450.pt"
saved_dict = torch.load(save_path)

In [30]:
# saved_dict['model_state_dict']

for param_tensor in saved_dict['model_state_dict']:
    print(param_tensor, "\t", saved_dict['model_state_dict'][param_tensor].size())

gru1.weight_ih 	 torch.Size([192, 203])
gru1.weight_hh 	 torch.Size([192, 64])
gru1.bias_ih 	 torch.Size([192])
gru1.bias_hh 	 torch.Size([192])
gru2.weight_ih 	 torch.Size([192, 203])
gru2.weight_hh 	 torch.Size([192, 64])
gru2.bias_ih 	 torch.Size([192])
gru2.bias_hh 	 torch.Size([192])
gru3.weight_ih 	 torch.Size([192, 203])
gru3.weight_hh 	 torch.Size([192, 64])
gru3.bias_ih 	 torch.Size([192])
gru3.bias_hh 	 torch.Size([192])
gru4.weight_ih 	 torch.Size([192, 203])
gru4.weight_hh 	 torch.Size([192, 64])
gru4.bias_ih 	 torch.Size([192])
gru4.bias_hh 	 torch.Size([192])
gru5.weight_ih 	 torch.Size([192, 203])
gru5.weight_hh 	 torch.Size([192, 64])
gru5.bias_ih 	 torch.Size([192])
gru5.bias_hh 	 torch.Size([192])
gru6.weight_ih 	 torch.Size([192, 203])
gru6.weight_hh 	 torch.Size([192, 64])
gru6.bias_ih 	 torch.Size([192])
gru6.bias_hh 	 torch.Size([192])
gru7.weight_ih 	 torch.Size([192, 203])
gru7.weight_hh 	 torch.Size([192, 64])
gru7.bias_ih 	 torch.Size([192])
gru7.bias_hh 	 torch.Size([192])
gru8.weight_ih 	 torch.Size([192, 203])
gru8.weight_hh 	 torch.Size([192, 64])
gru8.bias_ih 	 torch.Size([192])
gru8.bias_hh 	 torch.Size([192])
fc2.weight 	 torch.Size([64, 512])
fc2.bias 	 torch.Size([64])
fc3.weight 	 torch.Size([8, 64])
fc3.bias 	 torch.Size([8])

In [35]:
saved_dict['model_state_dict']['gru1.weight_ih'].shape[1]

203

In [ ]:
print(len(dog_df.trackOHE.iloc[0]),len(dog_df_pred.trackOHE.iloc[0]))
print(len(dog_df.stats.iloc[0]),len(dog_df_pred.stats.iloc[0]))

74 74
16 16

In [ ]:
dog_groups = dog_df.groupby('dogid').apply(lambda x: x.date.diff().fillna(pd.Timedelta(seconds=0))).mean()


# for i,j in dog_groups:
#     print(j.date.diff().fillna(pd.Timedelta(seconds=0)).mean())

In [ ]:
lossdf = pd.read_csv('logDFtest.csv')

In [ ]:
lossdf['count'] = 1

In [ ]:
lossdf

,Unnamed: 0,actuals,preds,conf,grade,track,bfsps,profit,count
0,0,3,0,-1.892037,Class 1,Palmerston Nth (NZ),-1.0,0.0,1
1,1,0,0,-1.858021,Class 4 Final,Auckland (NZ),-1.0,0.0,1
2,2,0,1,-1.935275,Maiden,Wanganui (NZ),-1.0,0.0,1
3,3,0,1,-1.956976,Class 1,Wanganui (NZ),-1.0,0.0,1
4,4,3,1,-1.929416,Class 2,Palmerston Nth (NZ),-1.0,0.0,1
...,...,...,...,...,...,...,...,...,...
1395,1395,3,1,-1.973121,Class 2,Christchurch (NZ),-1.0,0.0,1
1396,1396,7,6,-1.972819,Class 1,Christchurch (NZ),-1.0,0.0,1
1397,1397,4,0,-1.970201,Class 4,Christchurch (NZ),-1.0,0.0,1
1398,1398,2,0,-1.954375,Mixed Grade 1/2,Palmerston Nth (NZ),-1.0,0.0,1
1399,1399,2,1,-1.883651,Maiden,Christchurch (NZ),-1.0,0.0,1

In [ ]:
lossdf['correct'] = lossdf.apply(lambda x: 1 if x['actuals']==x['preds'] else 0 , axis=1)

In [ ]:
lossdf

,Unnamed: 0,actuals,preds,conf,grade,track,bfsps,profit,count,correct
0,0,3,0,-1.892037,Class 1,Palmerston Nth (NZ),-1.0,0.0,1,0
1,1,0,0,-1.858021,Class 4 Final,Auckland (NZ),-1.0,0.0,1,1
2,2,0,1,-1.935275,Maiden,Wanganui (NZ),-1.0,0.0,1,0
3,3,0,1,-1.956976,Class 1,Wanganui (NZ),-1.0,0.0,1,0
4,4,3,1,-1.929416,Class 2,Palmerston Nth (NZ),-1.0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...
1395,1395,3,1,-1.973121,Class 2,Christchurch (NZ),-1.0,0.0,1,0
1396,1396,7,6,-1.972819,Class 1,Christchurch (NZ),-1.0,0.0,1,0
1397,1397,4,0,-1.970201,Class 4,Christchurch (NZ),-1.0,0.0,1,0
1398,1398,2,0,-1.954375,Mixed Grade 1/2,Palmerston Nth (NZ),-1.0,0.0,1,0
1399,1399,2,1,-1.883651,Maiden,Christchurch (NZ),-1.0,0.0,1,0

In [ ]:
lossdf['profit'] = lossdf.apply(lambda x: 0 if x['bfsps']<1 else x['bfsps']-1  if x['correct'] else -1, axis=1)

In [ ]:
lossdf.head(50)

In [ ]:
track_df = lossdf.groupby('track', as_index='False').sum()
track_df.reset_index()

,track,Unnamed: 0,actuals,preds,conf,bfsps,profit,count,correct,return
0,Auckland (NZ),108462,504,356,-313.361808,406.665742,433.665742,161,18,-52.240323
1,Christchurch (NZ),424615,1691,1344,-1134.011454,2170.192935,2206.192935,582,79,-160.848007
2,Otago (NZ),2655,11,6,-3.921843,6.587735,6.587735,2,0,-1.000000
3,Palmerston Nth (NZ),163765,707,527,-395.297850,707.991879,674.991879,203,15,-58.529187
4,Southland (NZ),57152,277,210,-159.392282,280.675819,290.675819,82,12,-11.952603
5,Taranaki (NZ),511,3,7,-3.884429,-2.000000,0.000000,2,1,0.000000
6,Tokoroa (NZ),264,6,1,-1.907290,-1.000000,0.000000,1,0,0.000000
7,Waikato (NZ),110829,498,322,-294.086931,505.410668,498.410668,151,25,-2.420617
8,Wanganui (NZ),111047,701,500,-419.132124,575.837195,607.837195,216,34,4.400872

In [ ]:
df_pivot = dog_df.pivot(index='raceid',columns=['place'], values='margin').fillna(15)
df_pivot

ValueError: Index contains duplicate entries, cannot reshape

In [ ]:
r = torch.tensor((df_pivot.iloc[0]+1).to_list())
r

NameError: name 'df_pivot' is not defined

In [ ]:
r = torch.rand(8,10)

In [ ]:
r = r.log()
r

tensor([[-2.6411e-01, -1.3407e+00, -2.1215e+00, -1.1763e+00, -5.9946e-02,
         -1.3260e-02, -1.0272e+00, -7.4249e-01, -1.1751e-01, -2.4894e-02],
        [-1.2517e-01, -2.4667e+00, -1.0967e+00, -1.5563e+00, -1.6151e+00,
         -6.8829e-01, -4.1824e-01, -5.9266e-02, -7.7859e-02, -2.5674e-03],
        [-1.8856e-01, -6.3539e-01, -4.4113e-01, -2.4985e+00, -9.2067e-02,
         -1.4291e+00, -8.0059e-01, -5.2869e-01, -2.2559e+00, -1.2493e+00],
        [-4.5311e-01, -1.1033e+00, -4.4594e-01, -2.3675e+00, -3.7190e-01,
         -1.4691e+00, -1.0371e-01, -2.1470e+00, -1.0817e+00, -4.6440e-01],
        [-1.4361e+00, -1.1950e+00, -2.5175e-01, -9.9199e-01, -3.5735e+00,
         -5.9473e-01, -2.4475e+00, -1.4807e-04, -2.4683e-01, -2.6513e-02],
        [-2.0391e+00, -3.2843e+00, -3.9994e-01, -1.6954e-01, -4.3448e-01,
         -1.6209e+00, -5.7406e-01, -8.5910e-01, -1.6669e+00, -4.2585e-01],
        [-7.7427e-01, -3.4101e-01, -2.3569e+00, -2.4588e-02, -1.3418e+00,
         -3.8236e-01, -4.3757e-01, -1.3581e+00, -6.4681e-01, -1.1324e-01],
        [-5.0170e-01, -8.8066e-02, -8.8620e-01, -2.1374e-01, -1.3483e+00,
         -4.4583e-01, -1.2055e+00, -2.1784e+00, -1.4570e+00, -3.2550e-01]])

In [ ]:
sftmax = nn.Softmax(dim=0)
tahn = nn.Tanh()

In [ ]:
tr = tahn(r)
tr

tensor([0.0000, 0.5626, 0.7913, 0.8012, 0.8987, 0.9120, 0.9569, 0.9922])

In [ ]:
rs = torch.sigmoid(r)
rs

tensor([0.5000, 0.6540, 0.7455, 0.7506, 0.8124, 0.8233, 0.8708, 0.9412])

In [ ]:
ls = nn.LogSigmoid()
ls(r)
sftmax(-ls(r))

tensor([0.1842, 0.1408, 0.1235, 0.1227, 0.1134, 0.1119, 0.1058, 0.0978])

In [ ]:
sftmax(-rs)

tensor([0.1611, 0.1381, 0.1260, 0.1254, 0.1179, 0.1166, 0.1112, 0.1036])

In [ ]:
sftmax(-r)[0].sum()

tensor(1.2866)

In [ ]:
x = torch.rand(5,8)
y = torch.rand(5,8)

In [ ]:
cel = nn.CrossEntropyLoss(reduction='none')
kl = nn.KLDivLoss(reduction='batchmean')

In [ ]:
cel(x,y)

tensor([11.8266,  8.3206,  6.3329,  8.2975,  9.4265])

In [ ]:
x

tensor([[0.1014, 0.8791, 0.9317, 0.3059, 0.0780, 0.7030, 0.3185, 0.6284],
        [0.4854, 0.1267, 0.7048, 0.7489, 0.0646, 0.7840, 0.4067, 0.8106],
        [0.7976, 0.3691, 0.3165, 0.3107, 0.6457, 0.6709, 0.9489, 0.7234],
        [0.8811, 0.5617, 0.7810, 0.6660, 0.6791, 0.7831, 0.8993, 0.1111],
        [0.9399, 0.9951, 0.8575, 0.8524, 0.5587, 0.1212, 0.7746, 0.7384]])

In [ ]:
F.softmax(y)

C:\Users\Nick\AppData\Local\Temp\ipykernel_9188\393186831.py:1: UserWarning: Implicit dimension choice for softmax has been deprecated. Change the call to include dim=X as an argument.
  F.softmax(y)

tensor([[0.1429, 0.1112, 0.1002, 0.1097, 0.1696, 0.0995, 0.0945, 0.1724],
        [0.1079, 0.0840, 0.0814, 0.1747, 0.1592, 0.0775, 0.1444, 0.1708],
        [0.0815, 0.1318, 0.1901, 0.1068, 0.1092, 0.0899, 0.1981, 0.0926],
        [0.0909, 0.1511, 0.0941, 0.1926, 0.0840, 0.0999, 0.0827, 0.2046],
        [0.1440, 0.1322, 0.1013, 0.1525, 0.0803, 0.1262, 0.1211, 0.1424]])

In [ ]:
kl(F.log_softmax(x),F.softmax( y))

C:\Users\Nick\AppData\Local\Temp\ipykernel_9188\3956170655.py:1: UserWarning: Implicit dimension choice for log_softmax has been deprecated. Change the call to include dim=X as an argument.
  kl(F.log_softmax(x),F.softmax( y))
C:\Users\Nick\AppData\Local\Temp\ipykernel_9188\3956170655.py:1: UserWarning: Implicit dimension choice for softmax has been deprecated. Change the call to include dim=X as an argument.
  kl(F.log_softmax(x),F.softmax( y))

tensor(0.0949)

In [ ]:
torch.sum(-torch.log(torch.exp(x)/torch.sum(torch.exp(x), dim=-1, keepdim=True))*y, dim=-1)

tensor([11.8266,  8.3206,  6.3329,  8.2975,  9.4265])

In [ ]:
t = torch.tensor(0.07)

In [ ]:
torch.exp(t)

tensor(1.0725)

In [ ]:
torch.log(x+5)

tensor([[1.7389, 1.7403, 1.6914, 1.6189, 1.7836, 1.6530, 1.7834, 1.6938],
        [1.7370, 1.6225, 1.6138, 1.6427, 1.7614, 1.6542, 1.7384, 1.7578],
        [1.6402, 1.7398, 1.6300, 1.7324, 1.6566, 1.6789, 1.6379, 1.7221],
        [1.7093, 1.7366, 1.7679, 1.7428, 1.7883, 1.6988, 1.6959, 1.7411],
        [1.6652, 1.7027, 1.6596, 1.7636, 1.6534, 1.7665, 1.7050, 1.7326]])

In [ ]:
input = nn.functional.log_softmax(torch.randn(3, 5, requires_grad=True), dim=-1)
input

tensor([[-0.7779, -2.9942, -1.4254, -2.2101, -1.9628],
        [-3.9102, -4.3711, -0.1411, -3.6142, -2.6310],
        [-1.0453, -1.1885, -2.4780, -1.5419, -3.0825]],
       grad_fn=<LogSoftmaxBackward0>)

In [ ]:
x[0]

tensor([0.1014, 0.8791, 0.9317, 0.3059, 0.0780, 0.7030, 0.3185, 0.6284])

In [ ]:
torch.log_softmax(x[0], dim=0)

tensor([-2.5205, -1.7429, -1.6903, -2.3161, -2.5440, -1.9190, -2.3035, -1.9935])

In [ ]:
torch.exp(x)/torch.logsumexp(x, dim=-1, keepdim=True)

tensor([[0.4627, 0.9202, 0.4189, 0.7473, 0.7095, 0.8639, 0.4372, 0.4554],
        [0.5263, 0.9596, 0.7170, 0.5140, 0.5301, 0.4924, 0.4472, 0.6444],
        [0.3809, 0.7245, 0.9455, 0.6103, 0.9006, 0.7482, 0.9558, 0.3914],
        [0.9874, 0.5705, 0.4264, 0.9137, 0.5124, 0.9505, 0.6632, 0.3955],
        [0.6160, 0.7393, 0.4593, 0.8633, 0.3841, 0.9868, 0.5052, 0.6354]])

In [ ]:
-(y*x-torch.logsumexp(x, dim=-1, keepdim=True)*y)

tensor([[0.5153, 0.9484, 1.4135, 2.5238, 1.0821, 1.8794, 1.6698, 1.7941],
        [1.7757, 0.1372, 1.2408, 0.6135, 1.5152, 1.3158, 0.7770, 0.9455],
        [1.0113, 0.1004, 1.2988, 0.3481, 0.6725, 0.8174, 1.3157, 0.7687],
        [0.4393, 1.1434, 1.1529, 0.2367, 1.7411, 1.5715, 1.8007, 0.2119],
        [1.2393, 1.8508, 1.3630, 1.4480, 1.8165, 0.5832, 1.0275, 0.0983]])

In [ ]:
torch.mean(-(y*x-torch.logsumexp(x, dim=-1, keepdim=True)*y), dim=-1)

tensor([1.4783, 1.0401, 0.7916, 1.0372, 1.1783])

In [ ]:
yhat = torch.tensor([0.39761635661125183,
-0.12077497690916061,
-0.0892978310585022,
-0.031148605048656464,
-0.1088312640786171,
-0.1108488067984581,
-0.09906280040740967,
-0.048837367445230484
])

In [ ]:
yhat

tensor([ 0.3976, -0.1208, -0.0893, -0.0311, -0.1088, -0.1108, -0.0991, -0.0488])

In [ ]:
torch.exp(yhat)

tensor([1.4883, 0.8862, 0.9146, 0.9693, 0.8969, 0.8951, 0.9057, 0.9523])

In [ ]:
cel(yhat,yhat)

tensor(-0.6547)

In [ ]:
sftmax(torch.exp(yhat))

tensor([0.2018, 0.1105, 0.1137, 0.1201, 0.1117, 0.1115, 0.1127, 0.1181])

In [ ]:
[0.2018, 0.1105, 0.1137, 0.1201, 0.1117, 0.1115, 0.1127, 0.1181]*[-1]

TypeError: can't multiply sequence by non-int of type 'list'